	@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese';	
	
	* {
		padding: 0;
		margin: 0;
		font-family: 'Open Sans', sans-serif !important;
		font-weight: 400;
		font-size: 14px!important;
	}
	
	.panel-body{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #ddd;
	    overflow: hidden;
	    background: #fff;
	}
	.panel-body-hide{
		top: auto!important;
		height: 25px!important;
	}
	.chat-box-head{
		/* top: 0;
	    position: absolute;
	    width: 100%;
	    height: 24px;
	    background: #17C4BB;
	    box-sizing: border-box;
	    cursor: pointer;
	    overflow: hidden;
	    transition: 0.2s; */
	    display: none;
	}
	.chat-box-head:hover{
		background: #EDEEF1;
	}
	.chat-box-head-hide{
		background: #EDEEF1;
	}
	.container{
		/* top: 24px; */
		top: 0px;
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	    box-sizing: border-box;
	}
	.conversation-wrap{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 30px;
		box-sizing: border-box;
		overflow-y:auto;
	}
	.chat-box-f{
		width: 100%;
		position: absolute;
		height: 30px;
		left: 0;
		bottom: 0;
		box-sizing: border-box;
		overflow: hidden;
	}
	.chat-inp{
		width: 100%;
		height: 30px;
		box-sizing: border-box;
	}
	.chat-inp input{
		width: 100%;
		height: 30px;
		border:none;
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		padding: 0 7px;
		outline: none;
		padding-right: 44px;
	}
	.chat-btn{
		position: absolute;
		width: 40px;
		height: 30px;
		right: 0;
		top: 0;
	}
	.chat-btn button{
		width: 100%;
		height: 100%;
		border: none;
		text-indent: -9999px;
		background: url("../images/send-bg.png") center center no-repeat;
		background-size: 14px 14px;
		cursor: pointer;
	}
	.mess-content-wrap{
		width: 100%;
		overflow: hidden;
		margin: 3px 0;
		padding: 3px 10px;
		box-sizing: border-box;
	}
	.mss-head{
		float: left;
		padding: 0 10px;
		line-height: 22px;
		padding: 4px 10px;
		font-weight: bold;
	}
	.mss-content{
	    float: left;
		box-sizing: border-box;
		padding: 0 10px;
		background: #F1F0F0;
		border-radius: 18px;
		line-height: 22px;
		padding: 4px 7px;
		word-break: break-word;
	}
	.mss-guest .mss-head{
		display: none;
	}
	.mss-guest .mss-content{
		float: right;
		background: #17C4BB!important;
		color: #fff;
	}