@CHARSET "UTF-8";

.footer{
	margin:auto;
	padding-top:10px;
}
a:hover{
	text-decoration: none;
}
.table-form{
	width:100%;
}
.table-form td{
	padding:3px;
}
.search-input{
	width: 600px;
}
.table-data{
	width:100%;
}
.table-data-header{
	    border-color: #eef1f5!important;
}
.table-bordered th{
	background-color: #167F92;
	color:white;
}
