*{
	margin: 0;
	padding: 0;
}
body {
	background: #364150;
	font-family: sans-serif;
}

.logo{
	text-align: center;
	padding: 10px 0;
	margin-top: 50px;
}

.login-page {
	width: 410px;
	margin: auto;
	margin-top: 10px;
	background: #fff;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.login-page-content{
	padding: 0 30px;	
}

.login-title {
	display: block;
	text-align: center;
	font-size: 22px;
	color: #32C5D2;
	padding: 10px 0;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 40px;
	font-weight: bold;
}

.input-group {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.input-group label {
	display: block;
	padding: 5px 0;
	color: #6A696C;
	font-size: 14px;
}

.input-group .txt {
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	border: 1px solid #dde3ec;
	box-shadow: 0;
	outline: none;
	font-family: sans-serif;
	font-size: 14px;
	background: #DDE3EC!important;
}
.btn-group{
	margin-top: 7px;
	margin-bottom: 12px;
}
#un:-webkit-autofill, #pw:-webkit-autofill {
    background-color: #DDE3EC !important;
}

.btn-login {
	padding: 10px 20px;
	border: none;
	background: #32C5D2;
	color: #fff;
	font-family: sans-serif;
	cursor: pointer;
	font-size: 14px;
}
.btn-login:focus{
	outline: none!important;
}

.logout-success {
	display: block;
	text-align: center;
	color: #32C5D2;
	font-size: 14px;
	padding: 10px 0;
}

.login-error {
	display: block;
	text-align: center;
	color: red;
	font-size: 14px;
	padding: 10px 0;
}
.forgot-pass{
	display: inline-block;
	float: right;
	text-decoration: none;
	color: #6C7A8D;
	line-height: 40px;
	font-family: sans-serif;
    font-size: 14px;
}
.other-login-wrap{
	width: 100%;
	box-sizing: border-box;
	padding: 30px 0;
	border-top: 1px dashed #fafafa;
}
.other-login-title{
	display: block;
	line-height: 30px;
	float: left;
	color: #6C7A8D;
	font-family: sans-serif;
    font-size: 14px;
}

.social-icon-ul{
	float: right;
	margin: 0;
	padding: 0;
}
.social-icon-ul li{
	float: left;
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0 3px;
	list-style: none;
}
.social-icon{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 50%;
	text-indent: -99999px;
}
.fb-icon{
	background: url("/images/facebook.png");
	background-position: 0 28px;
}
.gp-icon{
	background: url("/images/googleplus.png");
	background-position: 0 28px;
}
.copy-right-lbl{
	margin-top: 15px;
	text-align: center;
	padding: 10px 0;
	color: #7a8ca5;
	display: block;
}
.create-acc-wrap{
	width: 100%;
	background: #6C7A8D;
	color: #fff;
	overflow: hidden;
	height: 60px;
	position: relative;
	border-bottom: 4px solid #32C5D2;
}

.create-acc-wrap a{
	display: block;
	line-height: 60px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
