body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  text-align:center;
}

#chart-svg{
	max-width: 500px;
}
/*
#sidebar {
  float: right;
  width: 200px;
}
*/
#sequence {
  width: 100%;
  height: 70px;
}
#sequence svg{
	width: 100%;
}
#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 50%;
  margin-top:-24px;
  text-indent: 20px;
  width: 100%;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}