<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="listArticleApp" class="no-js">
<head>
<meta charset="UTF-8"/>
<title>iworkflow-blog:Tạo mới bài viết</title>
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/webjars/angularjs/1.5.8/angular.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-resource.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
<script src="/webjars/angular-animate/1.5.8/angular-animate.js"></script>
<script src="/webjars/angular-aria/1.5.8/angular-aria.js"></script>
<script src="/webjars/angular-material/1.1.1/angular-material.js"></script>
<script src="/webjars/angular-ui-router/0.3.2/release/angular-ui-router.min.js" ></script>
<script src="/js/lodash.min.js"></script>
<script src="/js/admin-app.js"></script>
<script src="/js/header-controller.js"></script>
<script src="/js/admin-list-article-controller.js"></script>
<script src="/js/edit-article-controller.js"></script>
<script src="/js/comment-admin-controller.js"></script>
<link rel="stylesheet"
	href="/webjars/angular-material/1.1.1/angular-material.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/font-icons.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/main-style.css"/>
<link href="/css/font-icons.css" rel="stylesheet"/>
</head>
<body ng-controller="commentAdminControler" class="stretched">
	<div id="wrapper" class="clearfix"
		style="animation-duration: 1.5s; opacity: 1;">
		<div th:include="blog/header"></div>		
		<section id="content">
			<div class="container clearfix">
				<div class="body-content">
					<!-- <div ng-view=""></div> -->
					<form name="addform">
						<div>
						<span style="font-size: 26px;">Bài viết: {{article.title}}</span>
						</div>
						<div>
						<i class="icon-calendar3"></i> {{article.publishDate | date: 'dd/MM/yyyy :HH:mm'}}
						<div style="float:right;font-weight:bold;"> <md-button ng-click="comeback()">Quay lại</md-button></div>
						</div>
						<span style="font-size: 18px;">Danh sách bình luận:</span>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th style="width: 450px;">Bình luận</th>
									<th style="width: 130px;">Tên</th>
									<th style="width: 130px;">Email</th>
									<th style="width: 130px;">Ngày tạo</th>
									<th style="width: 130px;">Trạng thái</th>
									<th>Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="comment in lstcomment">
									<td>{{comment.id}}</td>
									<td>{{comment.body}}</td>
									<td>{{comment.name}}</td>
									<td>{{comment.email}}</td>
									<td>{{comment.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
									<td><span ng-show="comment.status">Xuất bản</span><span
										ng-show="!comment.status">Không xuất bản</span></td>
									<td>				     
										<a title="Dừng xuất bản" href="#" ng-click="showUnpublishConfirm($event,comment)" ng-if="comment.status &amp;&amp; mappermission[8]"><i class="material-icons">file_download</i></a>
										<a title="Xuất bản" href="#" ng-click="showPublishConfirm($event,comment)" ng-if="!comment.status &amp;&amp; mappermission[8]"> <i class="material-icons">file_upload</i></a> 
										<a title="Xóa" ng-if="mappermission[4] || mappermission[8]" href="#" ng-click="showDeleteConfirm($event,comment)"><i class="material-icons">delete</i></a>
									</td>
										
								</tr>
							</tbody>
						</table>
						<ul ng-if="total" class="pagination">
							<li ng-class="{disabled:pager.currentPage === 1}"><a
								ng-click="setPage(1)">Đầu</a></li>
							<li ng-class="{disabled:pager.currentPage === 1}"><a
								ng-click="setPage(pager.currentPage - 1)">Trước</a></li>
							<li ng-repeat="page in pager.pages"
								ng-class="{active:pager.currentPage === page}"><a
								ng-click="setPage(page)">{{page}}</a></li>
							<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
								<a ng-click="setPage(pager.currentPage + 1)">Sau</a>
							</li>
							<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
								<a ng-click="setPage(pager.totalPages)">Cuối</a>
							</li>
						</ul>
					</form>
					
				</div>
				<div class="footer">
					 <div th:include="blog/footer"></div>
					
				</div>
			</div>
		</section>
		<div style="visibility: hidden">
	    <div class="md-dialog-container" id="previewDialog">
	      <md-dialog layout-padding="" style="min-width:1000px;min-height:800px;">
	        <div class="entry-title clearfix">
				<h2>{{mdtitle}}</h2>
			</div>
			<!-- <ul class="entry-meta clearfix">
				<li><i class="icon-calendar3"></i>{{article.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li>
				<li><i class="icon-comments"></i>{{article.commentcount}} bình luận</li>
			</ul> -->
			<!-- .entry-meta end -->
			<div class="entry-publish-date clearfix"></div>
			<div class="entry-content clearfix"
				ng-bind-html="mdcontent"></div>
			<div class="line"></div>
	      </md-dialog>
	    </div>
	  	</div>
	</div>
</body>
</html>



