
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="listArticleApp" class="no-js">
<head>
<meta charset="UTF-8"/>
<title>iworkflow-blog:Tạo mới bài viết</title>
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/webjars/angularjs/1.5.8/angular.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-resource.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
<script src="/webjars/angular-animate/1.5.8/angular-animate.js"></script>
<script src="/webjars/angular-aria/1.5.8/angular-aria.js"></script>
<script src="/webjars/angular-material/1.1.1/angular-material.js"></script>
<script src="/webjars/angular-ui-router/0.3.2/release/angular-ui-router.min.js" ></script>
<script src="/js/lodash.min.js"></script>
<script src="/js/admin-app.js"></script>
<script src="/js/header-controller.js"></script>
<script src="/js/admin-list-article-controller.js"></script>
<script src="/js/edit-article-controller.js"></script>
<script src="/js/comment-admin-controller.js"></script>
<link rel="stylesheet"
	href="/webjars/angular-material/1.1.1/angular-material.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/font-icons.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/main-style.css"/>
<link href="/css/font-icons.css" rel="stylesheet"/>
</head>
<body ng-controller="editController" class="stretched">
	<div id="wrapper" class="clearfix"
		style="animation-duration: 1.5s; opacity: 1;">

		<div th:include="blog/header"></div>
		
		<section id="content">
			<div class="container clearfix">
				<div class="body-content">
					<!-- <div ng-view=""></div> -->
					<form name="addform">
						<table class="table-form">
							<tr>
								<td><span style="font-size: 18px;">Chọn quy trình:</span></td>
								<td><md-autocomplete ng-disabled="isDisabled"
										md-no-cache="noCache" md-selected-item="selectedItem"
										md-search-text-change="searchTextChange(searchText)"
										md-search-text="searchText"
										md-selected-item-change="selectedItemChange(item)"
										md-items="item in querySearch(searchText)"
										md-item-text="item.display" md-min-length="1"
										placeholder="Tên quy trình"> <md-item-template>
									<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
									</md-item-template> <md-not-found> Không tìm thấy {{searchText}}</md-not-found> </md-autocomplete></td>
							</tr>
							<tr>
								<td><span style="font-size: 18px;">Tiêu đề</span></td>
								<td><input type="text" name="title" ng-model="title" required="required"
									style="width: 620px;"/>
									<button ng-disabled="!title" ng-click="saveArticle(article)">Lưu</button>
									<button ng-disabled="!title"
										ng-click="showPreviewDialog($event,content,title)">Xem
										trước</button>
									<button ng-click="comeback()">Quay lại</button></td>
							</tr>
							<tr>
								<td colspan="2"><textarea ng-model="content" data-ck-editor=""
										required="required"></textarea></td>
							</tr>
						</table>
					</form>
					<div style="visibility: hidden">
						<div class="md-dialog-container" id="previewDialog">
							<md-dialog layout-padding=""
								style="min-width:1000px;min-height:800px;">
							<div class="entry-title clearfix">
								<h2>{{title}}</h2>
							</div>
							<!-- <ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i>{{article.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li>
									<li><i class="icon-comments"></i>{{article.commentcount}} bình luận</li>
								</ul> --> <!-- .entry-meta end -->
							<div class="entry-publish-date clearfix"></div>
							<div class="entry-content clearfix" ng-bind-html="mdcontent"></div>
							<div class="line"></div>
							</md-dialog>
						</div>
					</div>
					
				</div>
				<div class="footer">
					 <div th:include="blog/footer"></div>
					
				</div>
			</div>
		</section>
		<div style="visibility: hidden">
	    <div class="md-dialog-container" id="previewDialog">
	      <md-dialog layout-padding="" style="min-width:1000px;min-height:800px;">
	        <div class="entry-title clearfix">
				<h2>{{mdtitle}}</h2>
			</div>
			<!-- <ul class="entry-meta clearfix">
				<li><i class="icon-calendar3"></i>{{article.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li>
				<li><i class="icon-comments"></i>{{article.commentcount}} bình luận</li>
			</ul> -->
			<!-- .entry-meta end -->
			<div class="entry-publish-date clearfix"></div>
			<div class="entry-content clearfix"
				ng-bind-html="mdcontent"></div>
			<div class="line"></div>
	      </md-dialog>
	    </div>
	  	</div>
	</div>
</body>
</html>



