<form name="listform">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th style="width: 420px;">Bài viết</th>
				<th style="width: 130px;">Ngày xuất bản</th>
				<th style="width: 130px;">Ngày tạo</th>
				<th style="width: 130px;">Ngày sửa</th>
				<th style="width: 130px;">Trạng thái</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="article in lstArticle">
				<td>{{article.id}}</td>
				<td>{{article.title}}</td>
				<td>{{article.publishDate | date:'dd/MM/yyyy HH:mm'}}</td>
				<td>{{article.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
				<td>{{article.modifiedDate | date:'dd/MM/yyyy HH:mm'}}</td>
				<td><span ng-show="article.status">Xuất bản</span><span
					ng-show="!article.status">Không xuất bản</span></td>
				<td>
				    <a title="Bình luận" ng-click="commentAdmin(article)"><i class="material-icons">comment</i>{{article.commentcount}}</a>
					<a title="Xem" ng-click="showPreviewDialog($event,article.content,article.title)"><i class="material-icons">visibility</i></a> 
					<a title="Dừng xuất bản" ng-click="showUnpublishConfirm($event,article)"  ng-show="article.status  &amp;&amp; mappermission[8]"><i class="material-icons">file_download</i></a>
					<a title="Xuất bản" ng-click="showPublishConfirm($event,article)" ng-show="!article.status  &amp;&amp; mappermission[8]"> <i class="material-icons">file_upload</i></a> 
					<a title="Sửa" ng-click="editItemAction(article)" ng-show="mappermission[2]"> <i class="material-icons">edit</i></a> 
					<a title="Xóa" ng-click="showDeleteConfirm($event,article)" ng-show="mappermission[4]"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<ul ng-if="total" class="pagination">
		<li ng-class="{disabled:pager.currentPage === 1}">
		    <a ng-click="setPage(1)">Đầu</a></li>
		<li ng-class="{disabled:pager.currentPage === 1}"><a
			ng-click="setPage(pager.currentPage - 1)">Trước</a></li>
		<li ng-repeat="page in pager.pages"
			ng-class="{active:pager.currentPage === page}"><a
			ng-click="setPage(page)">{{page}}</a></li>
		<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
			<a ng-click="setPage(pager.currentPage + 1)">Sau</a>
		</li>
		<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
			<a ng-click="setPage(pager.totalPages)">Cuối</a>
		</li>
	</ul>
	<div style="visibility: hidden">
		<div class="md-dialog-container" id="previewDialog">
			<md-dialog layout-padding=""
				style="min-width:1000px;min-height:800px;">
			<div class="entry-title clearfix">
				<h2>{{title}}</h2>
			</div>
			<!-- <ul class="entry-meta clearfix">
				<li><i class="icon-calendar3"></i>{{article.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li>
				<li><i class="icon-comments"></i>{{article.commentcount}} bình luận</li>
			</ul> --> <!-- .entry-meta end -->
			<div class="entry-publish-date clearfix"></div>
			<div class="entry-content clearfix" ng-bind-html="mdcontent"></div>
			<div class="line"></div>
			</md-dialog>
		</div>
	</div>
</form>