/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_0Phan /* 0 Phan */
{
 font-size: 13pt;
 font-family: 'Times New Roman';
 font-weight: bold;
 color: #365f91;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_heading1 /* heading 1 */
{
 font-size: 13pt;
 font-family: 'Times New Roman';
 font-weight: bold;
 color: #365f91;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 16pt;
 font-weight: bold;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_ListParagraph /* List Paragraph */
{
}
span.f_Muc /* Muc */
{
 font-size: 13pt;
 font-family: 'Times New Roman';
 font-weight: bold;
}
span.f_MucCon /* MucCon */
{
 font-size: 12pt;
 font-family: 'Times New Roman';
 font-style: italic;
 font-weight: bold;
}
span.f_Notes /* Notes */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_0Phan /* 0 Phan */
{
 margin: 16px 0px 16px 0px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
}
.p_heading1 /* heading 1 */
{
 margin: 0px 0px 16px 0px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_ListParagraph /* List Paragraph */
{
 margin: 0px 0px 0px 48px;
}
.p_Muc /* Muc */
{
 text-indent: -24px;
 margin: 8px 0px 5px 24px;
}
.p_MucCon /* MucCon */
{
 text-indent: -29px;
 margin: 8px 0px 5px 53px;
}
.p_Notes /* Notes */
{
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

img.dropdown-toggle-icon /* pointer for toggle icons */
{
  cursor: pointer;
}
