<div ng-controller="headerController">
<header id="header" class="full-header sticky-header">

	<div id="header-wrap" class="">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
			============================================= -->
			<div id="logo">
				
				<a class="standard-logo" href="/" ><img src="/images/iWorkflow_blog_logo.png"/></a>
			</div><!-- #logo end -->

			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu">

				<ul class="sf-js-enabled" style="touch-action: pan-y;">
					<li><a href="/blog/index">Blog</a></li>
					<li><a href="/blog/admin/article_addnew" ng-show="mappermission[1]">Tạo mới bài viết</a></li>
					<li><a href="/blog/admin/admin_list_article" ng-show="mappermission[1] || mappermission[2] || mappermission[4] || mappermission[8]">Quản lý bài viết</a></li>
					
				</ul>

			
				<!-- Top Search
				============================================= -->
				<div id="top-search">
					<a href="#" ng-click="searchClick($event)" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
					<form action="/blog/front/search.html" method="get">
						<input type="text" name="q" class="form-control" value="" placeholder="Tìm kiếm."/>
					</form>
				</div><!-- #top-search end -->

			</nav><!-- #primary-menu end -->

		</div>

	</div>

</header>
<section id="page-title">
	<div class="container clearfix" >
		

		<h1>
			<a href="/blog/index.html" >Blog</a>
		</h1>
		<span>Thảo luận và góp ý về Quy trình</span>
		<!-- <div class="search-box" ng-show="{{showSearch}}">
			<form>
				<input type="text" class="search-input"/>
				<button>Tìm kiếm</button>
			</form>
		</div> -->
	</div>
</section>
</div>
