@import url("animate.css");
@import url("extendsvalo.css");
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese';	
.eform{
	background:#E9ECF3!important;
}
.eform.v-app, .eform.v-app-loading{
	/* font-family:sans-serif!important; */
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;
	font-size: 14px!important;
}
.eform .v-app-loading:before {
	background: #fff url(/images/progress.gif) no-repeat 50% 50% !important;
}
.eform .v-window{
	border-radius: 0!important;
}
.v-window-maximizebox, .v-window-closebox, .v-window-header, .v-window-outerheader, .v-window-restorebox{
	/* background: #fafafa!important; */
	background: #17C4BB!important;
    color: #fff!important;
}
.main-menu-bar{
    background: #364150;
	box-sizing: border-box;
    padding-top: 20px;
    margin-left: -240px;
    float: left;
}
.main-menu-bar-small{
    background: #364150;
    margin-left: -55px!important;
    width: 55px !important;
	transition:0.3s;
}
.main-menu-bar-content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.main-menu-bar-content-small{
	width: 55px!important;
}
.menu-btn-item{
	border-radius: 0!important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
	color: #485a6a!important;
	margin: 2px 0;
}
.menu-btn-item .v-icon{
	color: #a7bdcd!important;
}
.menu-btn-item:hover{
	background: #F2F6F9!important;
	color: #5C9ACF!important;
}
.menu-btn-item:hover .v-icon{
	color: #5C9ACF!important;
}
.active-menu{
	background: #F2F6F9 !important;
	position: relative;
	color: #5C9ACF!important;
}
.active-menu .v-icon{
	color: #5C9ACF!important;
}
.active-menu:after{
	content: "";
	position: absolute;
	height: 100%;
	width: 3px;
	left: -3px!important;
	top: 0px!important;
	background: #5C9ACF;
}
.header{
	background: #fff;
	/* background: #3B3F51; */
	padding: 0!important;
	padding-right: 20px!important;
	box-sizing: border-box;
	display: table;
    box-shadow: 0 1px 10px 0 rgba(50,50,50,0.2);
	min-height: 70px;
	/* position: fixed; */
	z-index: 1000;
}
.header-left{
	float: left;
	width: 240px;
	display: flex;
	background-color: #e42300;
}
.header-left-small{
	width: 55px !important;
}
.logo-wrap{
	float: left;
	height: 70px;
	width: 185px;
	display: block!important;
	/* background: url("/images/iWorkflow_logo.png") no-repeat center; */
	/*background: url("/images/iWorkflow_Bottom.png") no-repeat center; *//*TODO test*/
}
.logo-wrap svg {
    fill: #fff;
}
.logo-wrap-hiden{
	display: none!important;
}
.header-right{
	display: table-cell;
	width: 100%;
	height: 100%;
}

.header-right-content{
	float: right;
	height: 100%;
}
.user-wrap{
	height: 100%;
	margin-right: 5px;
	padding: 0 10px;
	position: relative;
	cursor: pointer;
}

.v-caption-user-name{
	display: inline-block;
	line-height: 70px;
	padding: 0 10px;
}
.v-caption-user-name .v-icon{
	color: #ED6B75;
}
.user-name{
	display: inline-block;
	line-height: 70px;
	width:auto!important;
	padding-right:20px;
	position: relative;
}
.user-name:after{
	text-align:right;
	content: "\f0d7";
	position: absolute;
	height: 100%;
	width: 20px;
	right: 0;
	top: 0;
	font-family: FontAwesome;
}
.btn-logout, .btn-logout.v-button{
	padding: 0 9px !important;
	height: 30px!important;
	box-sizing:border-box;
	margin-top: 20px;
	background: rgba(0,0,0,.55);
	border-radius: 50%!important;
}
.btn-logout .v-icon{
	color: #fff!important;
	font-size: 	
}
.btn-logout:hover{
	background: #262626;;
}

.logo-lable{
	display: block;
	line-height: 70px;
	color: #5C9ACF;
	font-weight: bold;
	width: 60%!important;
	font-size: 20px;
	float: left;
}
.btn-toggle-menu{
	float: right!important;
	display: block;
	line-height: 50px;
	font-size: 18px;
	height: 70px!important;
	/* border: 1px solid #F2F6F9!important; */
    padding: 0px 10px!important;
    float: right!important:
    border: none!important;
    width: 55px;
}
.btn-toggle-menu .v-icon{
	color: #fff!important;
}
.btn-toggle-menu:hover{
	/* background: #F2F6F9; */
}






/*///////////////////////////////////container////////////////////////////////////*/

.container{
	width: 100%;
	padding-left:240px;
	position: relative;
}
.container:before{
	content: "";
	position: absolute;
	height: 100%;
	width: 240px;
	left: 0;
	top:0;
	background: #364150;
}
.container-menu-active{
	padding-left:55px;
}
.container-menu-active:before{
	width: 55px!important;
}

.main-wrap{
	float: left;
    font-weight: 400!important;
    box-sizing: border-box;
    padding: 20px;
}


.main-title-wrap{
	min-height: 60px;
	box-sizing: border-box;
	border-bottom: 1px solid #eef1f5;
}
.main-title-wrap .v-caption{
	height: 100%;
	width: 60px;
}
.main-title-wrap .v-icon{
	line-height: 60px;
	display: block;
	text-align: center;
	color: #26a1ab;
}
.main-title{
	display: inline-block;
	width: auto!important;
	line-height: 60px;
	font-size: 17px;
	color: #26a1ab;
	font-weight: bold;
}
.main-title-icon-right{
	display: block;
}
.v-caption-main-title-icon-right{
	float: right;
}

.v-slot-sub-title-wrap{
	text-align: center;
}
.sub-title-wrap{
	min-height: 30px;
	box-sizing: border-box;
	border-bottom: 1px dashed #fafafa;
	width: 96%!important;
	margin: auto;
	margin-top: 20px;
}
.sub-title-wrap .v-caption{
	height: 100%;
	width: 30px;
}
.sub-title-wrap .v-icon{
	line-height: 30px;
	display: block;
	text-align: center;
	color: #777777;
}
.sub-title{
	display: inline-block;
	width: auto!important;
	line-height: 30px;
	color: #777777;
	font-style: italic;
}

.main-content{
	min-height: 700px;
	display: block;
	padding-bottom: 40px;
	background: #fff;
}
.menu-btn-item{
	text-align: left!important;
}

.menu-btn-item .v-button-caption, 
.menu-btn-item.v-button-link{
	text-decoration: none!important;
}

.menu-btn-item.v-button:focus:after{
	box-shadow: none!important;
}
.btn-addnew{
	position: fixed!important;
	right: 60px;
	bottom: 40px;
	z-index: 100;
}
.v-slot-btn-addnew{
	position: fixed!important;
	right: 40px;
	bottom: 30px;
	z-index: 1000;
}
.btn-addnew, .btn-addnew.v-button{
	width: 55px!important;
	height: 55px!important;
	background: #db4437!important;
	border-radius: 50% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

.btn-import, .btn-download{
	position: fixed!important;
	right: 120px;
	bottom: 40px;
	z-index: 100;
}
.v-slot-btn-import, .v-slot-btn-download{
	position: fixed!important;
	right: 40px;
	bottom: 30px;
	z-index: 1000;
}
.btn-import, .btn-import.v-button, .btn-download, .btn-download.v-button{
	width: 35px!important;
	height: 35px!important;
	background: #17C4BB!important;
	border-radius: 50% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
	text-align: center;
    padding: 0!important;
}
.btn-import .v-button-wrap, .btn-download .v-button-wrap{
	color: #fff;
}

.v-slot-btn-save{
	position: fixed!important;
	right: 100px;
	bottom: 30px;
	z-index: 1000;
}
.btn-save, .btn-save.v-button{
	width: 55px!important;
	height: 55px!important;
	background: #db4437!important;
	border-radius: 50% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}
.btn-addnew .v-icon{
	color: #fff;
}
.btn-save .v-icon{
	color: #fff;
}
/*******Search form******/
.search-form{
	width: 100%;
}
.search-form{
	width: 100%;
	margin-top: 10px;
}
.sf-row{
	width: 100%;
	padding: 3px 5px;
	box-sizing: border-box;
}
.sf-lbl-wrap{
	width: 30%;
	box-sizing: border-box;
	padding-right: 20px;
}
.sf-label{
	line-height: 34px;
	text-align: right;
}
.sf-tf-wrap{
	/* width: 70%; */
}

.sf-btn-row{
	margin-top: 10px;
}
.sf-btn-wrap .v-button{
	margin-right: 10px;
}

.footer{
	/* margin-top: 20px; */
	height: 40px;
	 background: /* url("/images/iWorkflow_Bottom.png") no-repeat center, */ #364150; */
	background-size: auto 60%;
	background-position: 50% 5px;
}
.footer-label{
	display: block;
	color: #fff;
	line-height: 40px;
	text-align: center;
	padding-left: 155px;
}

.v-table-row-odd{
	background: #FBFCFD!important;
}

.v-table-row:hover, 
.v-table-row-odd:hover {
	background: #EEF1F5!important;
}

.v-table-table td, 
.v-table-header, 
.v-table-cell-content, 
.v-table-body,
.v-table-header-wrap{
	border-color: #eef1f5!important;
}
.v-table-caption-container{
	border-left-color: #eef1f5!important;
}
.v-table-header td:first-child .v-table-caption-container{
	border-left-color: transparent!important;
}
.v-table-cell-wrapper{
	white-space: initial!important;
}









/*******Text Feild********/
.v-textfield{
	border-radius: 0!important;
	box-shadow: none!important;
	height: 34px !important;
}
.v-textfield:forcus{
	border-color: #93a1bb!important;
}
/**********Button*********/
.v-button{
	background-image: none!important;
	border-radius:0px !important;
	box-shadow:none !important;
}

.v-button:focus::after{
	box-shadow:none !important;
	border-color: none!important;
}
.btn-success:active{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4)!important;
}

.btn-success{
	background: #26a1ab!important;
	border-color: #26a1ab!important;
	color: #fff!important;
	transition: 0.2s;
}
.eform .v-button:focus:after{
	border-color: #c5c5c5;
}
.eform .v-select select:focus{
	box-shadow: none!important;
}

.btn-success:focus::after{
	border-color: #26a1ab!important;
}

.btn-addmember{
	background: #26a1ab!important;
	border-color: #26a1ab!important;
	color: #fff!important;
	float: right;
}

.btn-addmember .v-icon{
	display: inherit!important;
	color: #fff!important;
}
.btn-addmember::after{
	border-color: #26A1AB!important;
}


.btn-warning{
	background: #f1c40f!important;
	border-color: #f1c40f!important;
	color: #fff!important;
}
.btn-warning:focus::after{
	border-color: #C29D0B!important;
}
.btn-danger{
	background: #ed6b75!important;
	border-color: #ed6b75!important;
	color: #fff!important;
}
.btn-danger:focus::after{
	border-color: #E73D4A!important;
}
.data-wrap{
	box-sizing: border-box;
	padding: 20px;
}
.data-table .v-table-header-wrap{
	background-image: none!important;
}
.v-table-header-cell{
	text-align: center!important;
	text-indent: 8px;
	font-weight: bold;
}
.v-table-header-sortable{
	font-weight: bold;
}
.center-aligned, 
.v-table-cell-content-center-aligned div{
	text-align: center!important;
}
.left-aligned, 
.v-table-cell-content-left-aligned div{
	text-align: left!important;
}

.right-aligned, 
.v-table-cell-content-right-aligned div{
	text-align: right!important;
}

.v-table-cell-content-rowheader div{
	text-align: center!important;
}
.v-table-body, .v-table-body-noselection{
	height: auto!important;
}

.v-filterselect-input{
	border-radius:0!important;
}
.eform .v-filterselect {
	height: 35px!important;
}

.eform .v-filterselect [class*="input"]:focus {
	box-shadow:none!important;
	outline: none!important;
}
.action-popup{
	padding: 2px 15px;
}
.action-popup-smail{
	padding: 17px 0px!important;
}
.action-popup .v-icon{
	font-size: 19px;
	padding: 0 10px;
	color: #444;
	display: inline-block;
	text-decoration: none!important;
}
.action-popup:hover .v-icon{
	color: #26a1ab;
}
.v-popupview-popup-action-popup{
	box-sizing: border-box;
	padding: 10px!important;
	color: #444!important;
}
.v-popupview-popup-action-popup:before{
	content: "";
	display: block;
	position: absolute;
	border: 7px solid #ccc;
	border-color: transparent;
	border-right: 7px solid #ccc;
	left: -14px;
	top: 50%; 
	margin-top: -7px;
}
.v-popupview-popup-action-popup:after{
	content: "";
	display: block;
	position: absolute;
	border: 7px solid #fff;
	border-color: transparent;
	border-right: 7px solid #fff;
	left: -13px;
	top: 50%; 
	margin-top: -7px;
}
.btn-action{
	height: 37px !important;
	width: 100%!important;
	text-align: left!important;
	text-decoration: none!important;
	color: #444!important;
	/* border: 1px solid #f1f1f1!important; */
	min-width: 47px;
	text-align: center!important;
}
.v-slot-btn-action{
	margin: 0 1px;
}
.btn-action:hover{
	background: #F2F6F9!important;
}
.btn-action-left .btn-action{
	text-align: left!important;
}


/***********Button action************/
.btn-action-wrap .btn-action{
	position: relative;
}
.btn-action-wrap .btn-action .v-button-caption{
	/*  display: none; */
}
/***********************/



.btn-group-center{
	padding: 5px 0;
	text-align: center;
	margin: 5px 0;
}
.btn-group-center .v-button{
	margin: 0 5px;
}
.btn-popup-group-center{
	text-align: center;
	padding-bottom: 10px;
}
.btn-popup-group-center .v-button{
	margin: 0 5px;
}
.bm-grid-wrap{
	padding: 20px;
}
.bm-grid .v-gridlayout-slot{
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
.bm-grid{
	border-bottom: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}
.cell-detail-wrap .v-absolutelayout-margin{
	overflow: initial!important;
}
.btn-merge-cell, .btn-edit-cell{
	border-radius: 50%!important;
	z-index: 100;
	color: #a7bdcd!important;
	background: #fff!important;
	border: 1px solid #f1f1f1!important;
}
.btn-merge-cell.v-button, 
.btn-edit-cell.v-button, 
.btn-add-row.v-button{
	padding: 0 !important;
}
.v-absolutelayout-wrapper-btn-merge-right{
	margin-top: -13px!important;
}
.v-absolutelayout-wrapper-btn-merge-cell{
	margin-left: -13px!important;
}
.v-absolutelayout-wrapper-btn-add-row{
	margin-bottom: -13px!important;
	margin-left: -13px!important;
}

.btn-edit-cell{
	background: none!important;
	border: none!important;
}
.lbl-cell-index{
	text-align: center;
	line-height: 24px;
	border-radius: 50%!important;
	/* background: rgba(50, 197, 210, 0.5)!important; */
	color: #a7bdcd!important;
}
.txt-cell-index{
	padding: 2px!important;
    height: 22px!important;
    width: 100%!important;
	border: none!important;
}
.txt-cell-index:focus{
	border: 1px solid #f1f1f1 !important;
}
.txt-cell-index.v-textfield-error{
    border: 1px solid #ed473b !important;
}
.v-caption-txt-cell-index.v-caption{
	display: none!important;
}
.v-absolutelayout-wrapper-txt-cell-index{
	z-index: 100!important;
}

.cell-detail-wrap{
	min-height: 100px!important;
	height: 100%!important;
}
.btn-add-row{
	border-radius: 50%!important;
	z-index: 100;
	color: #fff!important;
	background: #26a1ab!important;
	border: 1px solid #26a1ab!important;
}
.v-absolutelayout-wrapper-lbl-cell-content{
	height: 100%;
	padding: 5px;
	font-size: 12px;
	box-sizing: border-box;
	overflow: hidden;
}
.v-caption-lbl-cell-content{
	position: relative!important;
	top:0!important;
	margin-top: 0!important;
	height: 100%;
	box-sizing: border-box!important;
    width: 100%;
    white-space: inherit!important;
    padding: 20px!important;
}

.eform-generate-wrap{
	/* padding: 10px; */
}
.eform-generate .v-gridlayout-slot{
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
.eform-generate{
	border-bottom: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	min-width: 100%;
}
.eform-generate .v-textfield{
	width: 100%!important;
}
.eform-cell-wrap{
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: table;
}
.eform-generate .v-datefield{
	width: 100%!important;
}
.eform-generate .v-filterselect{
	width: 100%!important;
}
.eform-generate .v-textarea{
	width: 100%!important;
}
.txt-cell-content{
	width: 100%!important;
    height: 100%!important;
    display: table-cell!important;
    vertical-align: middle!important;
}

.form-gen-control{
	border-color: #c2cad8!important;
}
.form-gen-control:focus{
	border-color: #93a1bb!important;
}

.form-gen-text-area{
	border-radius: 0!important;
	outline: none;
	height: 100%;
}
.form-gen-text-area:focus{
	box-shadow: none!important;
}
.form-gen-email{
	box-sizing:border-box;
}
.form-gen-editor{
	border-radius: 0!important;
}
.form-gen-checkbox{
	/* height: 34px!important;
    line-height: 34px!important;
    display: inline!important; */
}

.form-gen-editor .gwt-RichTextToolbar{
	background-image: none!important;
	background-color: #F5F5F5!important;
	border-bottom: 1px dashed #c5c5c5!important;
	box-shadow: none!important;
}
.form-gen-editor .gwt-ListBox{
	background-image: none!important;
	border-radius: 0!important;
}
.form-gen-editor .gwt-ListBox:focus{
	box-shadow: none!important;
	outline: none;
}

.form-html-data table td{
	padding: 7px 10px;
	border-color: #fafafa!important;
}









.main-container{
	padding: 20px;
}
.tabsheet .v-scrollable, .tabsheet .v-tabsheet-tabsheetpanel, .tabsheet .v-tabsheet-content{
	width: 100%!important;
}
.tab-content{
	width: 100%!important;
	height: auto!important;
	padding: 20px 0;
}

.proc-image-wrap{
	width: 100%;
	text-align: center!important;	
}
.eform-cell-wrap .v-caption-form-gen-control{
	/* display: none; */
	display: table-cell!important;
    vertical-align: middle;
}
.form-gen-control.v-richtextarea, .form-gen-control.v-select, .form-gen-control.v-select select{
	width: 100%!important;
}
.name-wrap{
    margin-bottom: 15px;
    width: 100%;
    background: #fafafa;
    border-radius: 2px;
}
.btn-claim{
	float: right;
	height: 45px!important;
	border-radius: 22px!important;
	background: #E7505A!important;
	color: #fff!important;
	border: 1px solid #fff!important;
	margin: 20px;
}
.detail-title{
	display: block;
    font-size: 18px;
    padding: 10px;
    float: left;
    width: auto!important;
}

.v-caption-detail-title{
    font-size: 18px!important;
    float: left;
    padding-right: 20px;
    color: #ED6B75;
}
.info-wrap{
    padding-bottom: 5px;
    border-bottom: 1px dashed #fafafa;
}
.info-item{
	float: left; 
}
.v-caption-info-item{
	margin-right: 20px;
	color: #555555;
}
.v-caption-info-item .v-icon{
	color: #a7bdcd;	
}
.tabsheet{
	margin-top: 20px!important;
}
.people-wrap{
	width: 100%;
}
.people-owner, 
.people-assignee,
.people-invol{
	width: 100%;
	margin-bottom: 10px;
	background: #E3F5F3;
	box-sizing: border-box;
	padding: 5px;
}
.people-invol{
	background: #F9FAFB;
}
.v-caption-lbl-people-owner, .v-caption-lbl-people-assignee, .v-caption-lbl-people-invol{
	display: block;
	float: left;
	padding-right: 10px;    
	line-height: 30px!important;
}
.lbl-people-owner, 
.lbl-people-assignee, 
.lbl-people-invol{
	display: block;
	float: left;
	width: 200px!important;    
	line-height: 30px!important;
}
.v-caption-lbl-people-owner, .v-caption-lbl-people-assignee, .v-caption-lbl-people-invol{
	padding-bottom: 0!important;
}
.v-caption-people-owner-name, .v-caption-people-assignee-name{
	line-height: 30px!important;
	padding-bottom: 0!important;
	color: #5194D0!important;   
	font-weight: bold!important;   
}
.people-owner-name, .people-assignee-name{
	display: block;
	float: left;
	width: auto!important;    
}
.btn-transfer, .btn-assign{
	float: right;
	height: 30px!important;
	width: 100px;
}
.btn-invol{
	float: right;
	height: 30px!important;
}
.lbl-empty-tab{
	display: block;
	color: #c4c4c4;
	text-align: center;
	font-style: italic;
}
.v-datefield-form-gen-control{
	height: 34px!important;
}
.task-list-btn-wrap{
	float: right;
	height: 100%;
    margin-top: 16px;
	margin-right: 11px;
}
.btn-task-list{
	height: 32px!important;
	border-radius: 16px!important;	
	color: #26a1ab!important;
	background: #fff!important;
	border: 1px solid #26a1ab!important;
	margin-right: 5px;
}
.btn-task-list-active{
	height: 32px!important;
	border-radius: 16px!important;	
	background: #26a1ab!important;
	color: #fff!important;
	border: 1px solid #26a1ab!important;
	margin-right: 5px;
}
.cmt-container{
	width: 100%;
}
.cmt-box-wrap{
	width: 100%;
	margin-bottom: 10px;
}
.cmt-item{
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	background: #fafafa;
	border: 1px solid #F4F6F9;
}
.user-img-wrap{
	width: 40px;
    height: 100%;
    float: left;    
    
}
.user-img{
	width: 40px;
    height: 40px;
	background: #404D5C;
    border-radius: 50%!important;
    margin-top: 16px;
    margin-right: 12px;
    overflow: hidden;
}
.cmt-info-wrap{
	width: calc(100% - 40px);
	min-height: 40px;
	float: right;
	padding-left: 20px;
	box-sizing:border-box;
}
.cmt-info{
	width: 100%;
}
.cmt-highlight{
	font-style: italic;
}

.user-cmt-name{
	float: left;
	color:#659BE0!important;
	height: 100%;
	font-weight: bold!important;
	margin-right: 10px;
}

.cmt-time{
	float: left;
	color:#c4c4c4!important;
	height: 100%;
	font-style: italic;
}
.cmt-time .v-label{
	height: 100%;
}
.btn-post-comment{
	width: 70px;
	float:right;
}
.v-caption-user-cmt{
	width: 37px;
	float:left;
	height: 34px;
	margin-left: 10px;
	background: #ACB5C3;
	border-radius: 50%;
	margin-right: 3px;
	text-align: center;
    line-height: 37px;
    color:#fff;
    font-size: 20px;
}
.cmt-box{
	width: calc(100% - 127px)!important;
	height: 37px!important;
}

.user-shortname{
	width: 100%;
    text-align: center;
    height: 100%;
    line-height: 40px;
    font-weight: bold;
    color:#fff;
    border-radius: 50%;
}
.bg-rand-1{
	background: #3598DC;
}
.bg-rand-2{
	background: #5E738B;
}
.bg-rand-3{
	background: #FBA524;
}
.bg-rand-4{
	background: #B387FE;
}
.bg-rand-5{
	background: #EF6191;
}
.bg-rand-6{
	background: #DB6152;
}
.bg-rand-7{
	background: #4CD1E2;
}
.bg-rand-8{
	background: #26a1ab;
}
.bg-rand-9{
	background: #44B6AE;
}
.bg-rand-10{
	background: #555555;
}

.menu-tree{
	width: 100%;
}
.menu-tree .v-tree-node-caption:after{
	background: #4d5d7c!important;
	margin-top: -35px!important;
    width: 100%!important;
    height: 42px!important;
    border-radius: 0!important;
}
.menu-tree .v-tree-node-caption{
	padding: 7px 0!important;
	padding-left:20px !important;
	/* margin: 2px 0; */
	margin0;
	color: #b4bcc8;
	outline: none!important;
}
.menu-tree .v-tree-node-caption, .v-tree-node, .v-tree-node-focused{
	outline: none!important;
	border: none !important;
}
/* .v-tree-node-caption span:nth-child(2){
	display: none;
} */
.v-tree-node-children .v-tree-node-caption span:nth-child(2){
	display: inline-block;
}
.main-menu-bar-content-small .v-tree-node:before{
	display: none!important;
}

.main-menu-bar-content-small .v-icon{
	color: #ddd!important;
}

.main-menu-bar-content-small .v-tree-node-caption span:nth-child(2){
	display: none;
}
.v-tree-node-children .v-tree-node-caption span:nth-child(2){
	display: inline-block;
}
/* .v-tree-node-small:before{
	display: none!important;
} */

.main-menu-bar-content-small .v-tree-node:hover{
	background: #2C3542!important;
}
/* .v-tree-node-small:hover{
	background: #2C3542!important;
} */
.main-menu-bar-content-small .v-tree-node{
	cursor: pointer;
}
/* .v-tree-node-small{
	cursor: pointer;
} */
.main-menu-bar-content-small .v-tree-node:hover > .v-tree-node-children{
	display: block;
	z-index: 100;
}
/* .v-tree-node-small:hover > .v-tree-node-children-small{
	display: block;
	z-index: 100;
} */
.v-tree-node{
	border-top: 1px solid #3d4957;
	position: relative;
}
.v-tree-node-children .v-tree-node{
	border-top: none !important;
	padding-left: 10px;
}

.v-tree-node-caption > div:before, 
.eform .v-tree-node-expanded > .v-tree-node-caption > div:before{
	float: right!important;
	margin-right: 15px!important;
	font-family: FontAwesome;
	content: "\f105";
}
.main-menu-bar-content-small .v-tree-node-caption> div:before{
	display: none!important;
}
/* .v-tree-node-caption-small> div:before{
	display: none!important;
} */
.eform .v-tree-node-caption > div:before{
	font-family: FontAwesome;
	content: "\f105";
}
.eform .v-tree-node:before{
	right: 0!important;
	/* width: 100%; */
	height: 40px;
}
.eform .v-tree-node-children{
	padding: 0!important;
}
.eform .v-tree-node-children .v-tree-node{
	/* padding-left: 10px!important; */
}

.v-tree-node-children{
}
.main-menu-bar-content-small .v-tree-node-children{
	position: absolute;
	left: 100%;
	width: 240px;
	top: -1px;
	background: #364150;
	display: none;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}
/* .v-tree-node-children-small{
	position: absolute;
	left: 100%;
	width: 240px;
	top: -1px;
	background: #364150;
	display: none;
} */

.tk-wrap{
	width: 100%;
	box-sizing: border-box;
}

.tk-item{
	width: 22.75%;
	float: left;
	min-height: 120px;
	background: #32C5D2;
	position: relative;
	margin: 1.5%;
}
.data-row .tk-item:nth-child(1){
	margin-left: 0;
}
.data-row .tk-item:nth-child(4){
	margin-right: 0;
}
.btn-tk-detail{
	position: absolute!important;
	width: 100%!important;
	height: 100%!important;
	top: 0;
	left: 0;
	padding: 0px!important;
	background: none!important;
	color: #fff;
    transition: 0.3s;
    border: 0!important;
}

.data-row .tk-item:nth-child(1){
	background: #3598DC;
}
.data-row .tk-item:nth-child(2){
	background: #32C5D2;
}
.data-row .tk-item:nth-child(3){
	background: #E7505A;
}
.data-row .tk-item:nth-child(4){
	background: #8E44AD;
}

.dashboard-container{
	box-sizing: border-box;
	padding: 0 20px; 
}

.dashboard_block{
	box-sizing: border-box;
	/* padding: 10px 25px; */
	margin: 10px 0;
	margin-top: 25px;
}
.db-container{
	border: 1px solid #eef1f5 !important;
}
.db-title-wrap{
	box-sizing: border-box;
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	border-bottom: 1px solid #eef1f5 !important;
}
.db-block-title{
	height: auto!important;
	width: auto!important;
	float:left!important;
	padding: 0!important;
	color: #fff!important;
	text-align: left!important;
	margin:0!important;
	display: block; 
	line-height: 25px;
	color: #2F353B;
	text-decoration: none!important;
}

.tk-item-sl{
	float: right;
	font-size: 35px;
	color: #fff;
	padding-right: 30px;
	margin-top: 0px;
	text-align: right;
}
.tk-item-tt{
	font-size: 15px;
	color: #fff;
	padding-right: 10px;
	margin-top: 10px;
	text-align: right;
}
.tk-item-icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tk-item-icon .v-icon{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	opacity: 0.2;
	font-size: 50px;
	padding-left: 10px;
}
.new-task-list{
	width: 48.5%!important;
	float: left;
	margin-right: 1.5%;
}
.process-list{
	width: 48.5%!important;
	float: right;
	margin-left: 1.5%;
}
.new-task-title-wrap{
	background: #1BBC9B;
}
.new-task-title{
	color: #fff;
}
.process-title-wrap{
	background: #3598DC;
}
.process-title{
	color: #fff;
}
.new-task-list, .process-list{
	float: left;
}
.new-task-list .db-container, .process-list .db-container{
	padding: 10px;
}
.new-task-item, .process-item{
	width: 100%;
	box-sizing: border-box;
	background: #FAFAFA;
	margin: 4px 0;
	position: relative;
	height: 30px;
}
.new-task-item-number-wrap, .process-item-number-wrap{
	width: 30px;
	height: 100%;
	float: left;
	background: #51BEDB;
}
.new-task-item-number, .process-item-number{
	height: 100%;
	color:#fff!important;
	text-align: center;   
	line-height: 30px;
}
.new-task-item-info-wrap, .process-item-info-wrap{
	width: calc(100% - 30px);
	float: left;
	height: 100%;
	padding: 0 10px;
	box-sizing:border-box;
	font-weight: 400!important;
	
}
.new-task-item-name, .process-item-name{
	width: auto!important;
	height: auto!important;
	padding: 0!important;
	float: left!important;    
	line-height: 30px;
	text-decoration: none!important;
	color: #7A889F!important;
}
.new-task-btn, .process-btn{
	position: absolute!important;
	height: 30px!important;
	background: transparent!important;
	border: none!important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%!important;
}

.new-task-lbl, .process-lbl{
	float: left;
	display: block;
	padding: 0 10px;
	line-height: 35px!important;
    width: auto!important;
    color: #26a1ab;
    font-weight: bold;
}
.v-caption-new-task-lbl, .v-caption-process-lbl{
	float: left;
	line-height: 35px!important;
	padding-bottom: 0!important;
	color: #c1cbd0;
}
.new-task-process{
	width: auto!important;
	float: left;
	color: #23527c;
	line-height: 35px!important;
	font-style: italic;
}
.new-task-create-time{
	float: right;
	line-height: 30px!important;
	font-style: italic;
	color: #c1cbd0;
    width: auto!important;
}
.menu-tree .v-tree-node-caption .v-icon{
	color: #4d5d7c;
}
.menu-tree .v-tree-node-selected .v-icon{
	color: #18cdc4!important;
}
.upload-wrap{
	width: 100%;
}
.file-list{
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
.file-item{
    width: 100%;
    background: #fafafa;
    margin: 2px 0;
}
.file-item-lbl{
	width: auto!important;
	color:#23527c;
	line-height: 25px;
	padding-left: 10px;
}
.file-btn-wrap{
	float: right;
}
.file-item-btn-remove, .file-item-btn-download{
	height:25px!important;
	padding-left: 4px!important;
	padding-right: 4px!important;
	margin: 0 2px;
	min-width: 25px!important;
}
.model-grid-wrap, .model-item-wrap{
	width: 100%;
	box-sizing: border-box;
}
.model-item{
	width: 24%;
	box-sizing: border-box;
	border: 1px solid #f1f1f1;
	margin: 10px 0.5%;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.08);
	position: relative!important;
	transition: 0.2s;
}
.model-item:hover{
	box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.15);
}
.model-item-status{
	position: absolute!important;
	right: 10px!important;
	top: 10px!important;
	width: 15px!important;
	height: 15px!important;
	border-radius: 50%!important;
}
.model-item-suspended{
	background: #ED6B75!important;
}
.model-item-using{
	background: #32C5D2!important;
}
.model-item-img-wrap{
	width: 100%;
	height: 170px;
	overflow: hidden;
	box-sizing: border-box;
	line-height: 170px;
}
.model-item-img-wrap img{
	vertical-align: middle;
	width: 100%!important;
}
.model-item-info-wrap{
	width: 100%;
	height: 60px;
	background: #fafafa;
}

.model-item-info{
	width: 90%;
	height: 60px;
	float: left;
}
.model-item-lbl{
	line-height: 22px!important;
	display: block!important;
	box-sizing: border-box;
	color: #126EB4;
	height: auto!important;
	padding: 0!important;
	padding-top: 8px!important;
	padding-left: 10px!important;
	font-weight: bold!important;
	text-align: left!important;
	text-decoration: none!important;
	text-overflow: ellipsis;
    overflow: hidden;
}
.model-item-dep-time{
	line-height: 22px!important;
	display: block!important;
	font-style: italic;
	box-sizing: border-box;
	padding-left: 10px;
	color: #444;
}
.model-item-action{
	width: 10%;
	height: 60px;
	float: right;
}


/************PROCESS LIST VIEW***********/
.model-item-list .model-item-info-wrap{
	height: 35px!important;
}
.model-item-list .model-item{
	box-shadow: none!important;
	width: 100%!important;
	margin: 2px 0!important;
}
.model-item-list .model-item-img-wrap{
	display: none!important;
}
.model-item-list .model-item-status{
	left: 10px!important;
}
.model-item-list .model-item-action{
	width: auto !important;
}
.model-item-list .model-item-lbl{
	width: auto !important;
	padding: 0!important;
	float: left!important;
	line-height: 35px!important;
}
.model-item-list  .model-item-dep-time{
	width: auto !important;
	float: right!important;
	line-height: 35px!important;
}
.model-item-list .model-item-info, .model-item-list .model-item-action{
	height: 35px!important;
}
.model-item-list .model-item-info{
	padding-left: 35px;
}
.model-item-list .action-popup-smail{
	padding: 0!important;
	padding: 5px 0px!important;
}
.model-item-list .model-item-info{
	margin-left: 35px;
	border-left: 1px solid #f1f1f1;
	width: calc(100% - 70px)!important;
	height: 35px!important;
}




.btn-switch-view{
	border: 1px solid #8E9BAE!important;
	color: #8E9BAE!important;
	border-radius: 19px!important;
	padding: 5px 11px!important;
    height: auto!important;
    margin-left: 15px;
	
}
.btn-switch-view .v-icon{
	display: initial!important;
}
.task-list-wrap{
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}
.task-item{
	width: 100%;
	box-sizing: border-box;
	padding: 5px 0;
	margin: 3px 0;
	background: #fafafa;
}
.task-item:hover{
	background: #F4F6F9;
}
.task-img-wrap{
	width: 50px!important;
	float: left;
	box-sizing: border-box;
}
.task-img{
	text-align: center;
	display: block;
	width: 30px!important;
	height: 30px!important;
	text-align: center;
	line-height: 30px;
	margin-left: 5px;
	border-radius: 50%;
	font-weight:bold;
	color: #3FC4CF;
	padding: 0!important;
	border: 1px solid #3FC4CF;
	border-color: transparent;
	border: 1px solid #3FC4CF;
}
.task-item:hover .task-img{
}
.task-prioriry-star{
    text-align: center;
    width: 38px!important;
	float: left;
	box-sizing: border-box;
	margin-top: 20px;
	font-size: 14px!important;
}
.priority-low{
	/* color: #e7505a; */
}
.priority-medium{
	color: #36c6d3;
}
.priority-high{
	color: #F1C40F;
}
.priority-very-high{
	color: #e7505a;
}
.task-info-wrap{
	width: calc(100% - 50px)!important;
	float: right;
	box-sizing: border-box;
}
.task-name-wrap{
	width: 100%;
}
.task-create-time{
	width: auto!important;
	text-align: right;
	float: right;
	line-height: 30px;
	font-style: italic;
	color: #c1cbd0;
	padding: 0 10px;
}
.task-name{
	width: auto!important;
	line-height: 30px!important;
	color: #126EB4!important;
	font-size: 15px!important;
	font-weight: bold!important;
	height: 30px!important;
	padding: 0!important;
	text-decoration: none!important;
}
.task-proins{
	width: auto!important;
	line-height: 30px;
	color: #82949a;
	padding: 0 10px;
}
.task-desc-wrap{
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 5px;
	padding-right: 10px;
}
.task-item-desc{
	color: #333;
}
.task-item-no-desc{
	font-style: italic;
}
.task-action-wrap{
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	padding-bottom: 5px;
}
.btn-task-detail{
	float: right;
	padding: 1px 20px !important;
	height: auto!important;
	border: 1px solid #32C5D2!important;
	color:#32C5D2!important;
	background: transparent!important;
	text-transform: uppercase;
}
.btn-task-detail:hover{
	background: #32C5D2!important;
	color:#fff!important;
}
.task-more-info-wrap{
	width: 100%;
	box-sizing: border-box;
}
.v-caption-task-prioriry{
	color: #c1cbd0;
}
.task-prioriry{
	width: auto!important;
	color: #82949a;
	margin-left: 10px;
}
.v-caption-task-duedate{
	color: #c1cbd0;
}
.task-duedate{
	width: auto!important;
	color: #82949a;
	margin-left: 10px;
}
.add-related-wrap{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	text-align: center;
}
.btn-add-related-wrap{
	/* float: right; */
}
.related-wrap{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
}
.attachment-item{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: #fafafa;
	margin: 3px 0;
}
.attachment-item:hover{
	background: #F4F6F9;
}
.attachment-item-img-wrap{
	width: 50px!important;
	float: left;
}
.v-caption-attachment-item-img{
	width: 100%;
	text-align: center;
	color: #3FC4CF;
	line-height: 30px;
}
.attachment-item-info-wrap{
	width: calc(100% - 50px) !important;
	float: right;
}
.attachment-item-name-wrap{
	width: 100%;
	box-sizing: border-box;
}
.attachment-item-name{
	width: auto!important;
	float: left;
	color: #26a1ab;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
}
.attachment-item-user{
	width: auto!important;
	float: left;
	padding-left: 20px;
	color: #82949a;
	line-height: 30px;
}
.attachment-item-time{
	width: auto!important;
	float: right;
	font-style: italic;
	color: #c1cbd0;
	line-height: 30px;
}
.attachment-item-desc-wrap{
	width: 100%;
	box-sizing: border-box;
}
.attachment-item-desc{
	color: #333;
}
.attachment-item-action-wrap{
	width: 100%;
	box-sizing: border-box;
}
.attachment-item-action-btn{
	float: right;
	padding: 1px 20px !important;
	height: auto!important;
	border: 1px solid #32C5D2!important;
	color:#32C5D2!important;
	background: transparent!important;
	text-transform: uppercase;
}
.attachment-item-action-btn:hover{
	background: #32C5D2!important;
	color:#fff!important;
}
.group-report{
	width: 100%!important;
}
.group-report .v-select-twincol-selections, .group-report .v-select-twincol-options{
	width: calc(50% - 25px)!important;
	border-radius:0!important;
	background: #fafafa!important;
}
.group-report .v-select-twincol-buttons{
	width: 50px!important;
}
.btn-add-rpt{    
	padding: 0!important;
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%!important;
    background: #5C9ACF!important;
    border: none!important;
    color: #fff!important;
    margin-bottom: -28px!important;
    float: left;
    margin-left: -14px!important;
    z-index: 100;
}
.btn-remove-tbl-rpt{
	padding: 4px 9px!important;
	height: auto!important;
	margin: auto!important;
	border: none!important;
}
.buttons-center, .v-slot-buttons-center{
	text-align: center;
}



.pagination-bar{
    margin-top: 14px;
    width: 100%;
}
.pagination-bar-left{
	float: left;
}
.pagination-bar-right{
	float: right;
}
.txt-pagination{
	padding: 7px;
	width: 40px!important;
	height: 37px!important;
	text-align: center;
	margin: 0 1px!important;
}
.cbb-pagination .v-select-select{
	border-radius: 0;
	height: 37px!important;
	outline: none;
	box-shadow: none;
}
.cbb-pagination {
	margin: 0 1px!important;
}
.btn-pagination-prev, .btn-pagination-next, .btn-pagination-first, .btn-pagination-last{
	margin: 0 1px!important;
}
.cbb-pagination .v-select-select:focus{
	outline: none;
	box-shadow: none;
}
.lbl-page, .lbl-count{
    display: inline;
    line-height: 37px;
    padding-right: 5px;
}
.v-caption-txt-pagination{
	display: none!important;
}

.paging-wrap{
	padding: 0 17px;
}
.file-list .v-label{
	width: auto!important;
	float: left;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
}
.file-list .action-popup{
	float: right;
}

.file-title-wrap, .file-desc-wrap{
	background: #fafafa;
    padding: 5px;
}
.file-title-lbl, .file-desc-lbl{
	width: 100px!important;
    float: left!important;
    font-weight: bold;
}
.file-title, .file-desc{
	width: auto!important;
    float: left;
    font-style: italic;
}
.v-caption-file-item-label{
	float: left;
    width: 25px;
    margin-left: 5px;
    margin-top: 2px;
}

.btn-form-container{
	text-align: center;
	margin-bottom: 25px;
	box-sizing:border-box;
}
.btn-form-wrap .v-button{
	margin: 0 5px;
}
.add-btn-wrap{
	box-sizing:border-box;
	padding-left: 10px;
}
.btn-add-btn-wrap{
	text-align: center;
}
.btn-add-group{
	
}

.filter-wrap{
	width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
}
.process-filter-wrap{
	padding: 10px;
	display: table-cell;
	width: 100%;
}
.date-filter-wrap, .periodic-filter-wrap{
	display: table-cell;  
}
.periodic-filter-wrap{
	min-width: 120px;  
}
.date-filter-wrap{
	min-width: 300px;
}
.periodic-filter-wrap{
	width: 150px!important;
	padding: 10px;
}
.submit-filter-wrap{
	padding: 10px;
	display: table-cell;
	width: 90px;
	text-align: right;
}
.submit-filter-wrap .v-button{
	margin-top: 23px;
}
.to_date-filter-wrap, .from_date-filter-wrap{
	width: 150px!important;
	padding: 10px;
}

.new-task-empty, .process-empty{
    width: 100%;
    font-style: italic;
    padding: 15px;
    text-align: center;
    color: #999;
}
.u-option-wrap{
	position: absolute;
    width: 250px;
    top: calc(100% + 5px);
    z-index: 100;
    right: 0;
    background: #fff;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    border: 1px solid #eee;
    display: none;
}
.visible-user-option{
	display: block;
}
.u-option-wrap:before{
	content: "";
	position: absolute;
	top: -10px;
	right: 9px;
	border: 5px solid transparent;
	border-bottom: 5px solid #fff;
}
.u-option-btn{
	text-decoration: none!important;
	width: 100%;
	text-align: left!important;
	padding: 0 20px!important;
	color: #555!important;
	transition: 0.2s;
}
.u-option-btn:hover{
	background: #F6F6F6!important;
}
.mssg-item{
	width: 40px!important;
	margin: 0 1px!important;
	height: 70px!important;
	position: relative!important;
}
.mssg-number{
	position: absolute!important;
	top: 10px;
	left: 5px;
	width: 22px!important;
	height: 22px!important;
	border-radius: 50%;
	text-align: center;
	background: #36C6D3;
	color: #fff;
}
.mssg-btn{
	width: 100%!important;
	height: 70px!important;
	padding: 0!important;
	border: none!important;
	background: #fff!important;
}
.mssg-btn .v-icon{
	font-size: 18px!important;
	color: #C0CDDC;
}
.page-title-wrap{
	box-sizing: border-box;
	padding: 10px 20px;
}
.page-title, .page-small-title{
	display: inline-block!important;
	width: auto!important;
	color: #666;    
	font-weight: 300!important;
}
.page-title{
	font-size: 24px;
}
.page-small-title{
	font-size: 14px;
	margin-left: 15px;
	text-transform: lowercase;
}
.v-grid-cell.action-cell {
    text-align: center;
	padding: 0!important;
	border-right: 0!important;
}
.action-cell .v-nativebutton{
	width: 20px;
	cursor: pointer;
}

.page-breadcrumb-wrap{
	position: relative;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.page-breadcrumb-wrap:after{
	content: "";
	position: absolute;
	top: 100%;
	height: 20px;
	width: 100%;
	left: 0;
	background: #E9ECF3;
}

.page-breadcrumb-item{
	width: auto!important;
	height: auto!important;
	padding: 0 5px!important;
	border: none!important;
	background: transparent!important;
	position: relative;
}
.page-breadcrumb-wrap .page-breadcrumb-item{
	margin-left: 2px;
}

.page-breadcrumb-wrap .page-breadcrumb-item:nth-child(1){
	padding-left: 20px!important;
}

.page-breadcrumb-wrap .page-breadcrumb-item:nth-child(1):before{
	content: "\f015";font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
}

.page-breadcrumb-item.v-button:hover:after{
	background: transparent!important;
}
.page-breadcrumb-item.v-button:hover .v-button-caption{
	text-decoration: underline;
}
.page-breadcrumb-space{
	width: auto!important;
	padding: 0 5px;
}
/**************Status color*************/

.v-table-row-status-new, .v-caption-cmt-status-new{
	background: #f9e491!important;
}
.v-table-row-status-using, .v-caption-cmt-status-using{
	background: #abe7ed!important;
}
.v-table-row-status-susspended, .v-caption-cmt-status-susspended{
	background: #fbe1e3!important;
}

.status-cmt-wrap{
	text-align: right;
	box-sizing: border-box;
	padding: 10px 0;
}
.status-cmt{
	width: auto!important;
	line-height: 20px;
}
.v-caption-status-cmt{
	text-indent: -99999px;
	width: 20px;
	height: 20px;
	border: 1px solid #8E9BAE;
	padding: 0!important;
	border-radius: 50%;
	margin-left: 20px;
	margin-right: 7px;
}
/**************End Status color*************/

.btn-show-search{
	border: 1px solid #8E9BAE!important;
	color: #8E9BAE!important;
	border-radius: 19px!important;
	padding: 5px 11px!important;
    height: auto!important;
}
.btn-show-search-active{
	background: #8E9BAE!important;
	color: #fff!important;
}

.v-slot.v-slot-search-form{
	display: none;
}
.search-form{
	display: none;
}
.ttt-form-wrap{
	padding-top: 20px;
}
.form-row{
	box-sizing:border-box;
	padding: 0 25px;
	position: relative;
}
.form-row-ttl{
	font-size: 20px;
	font-weight: 300;
	border-bottom: 1px solid #eef1f5;
	
}
.ttt-form-wrap .v-formlayout-captioncell{
	min-width: 190px;
}

.btn-show-general-form, .btn-show-setting-form, .btn-show-detail{
	position: absolute!important;
	right: 25px;
	top: 0;
	height: auto!important;
	padding: 0 10px!important;
	font-size: 19px;
	background: transparent!important;
	border: none!important;
	transition: 0.2s;
}
.btn-show-general-form:hover:after, .btn-show-setting-form:hover:after, .btn-show-detail:hover:after{
	background: transparent!important;
}

.btn-show-ttt-form-active{
	transform: rotate(180deg)!important;
}
.btn-show-detail-active{
	transform: rotate(180deg)!important;
}
.form-row-closed{
	margin-bottom: 20px;
}

.ttt-form-buttons{
	width: 100%;	
	text-align: center;
}
.btn-add-loai-dm{
	float: right;
    position: absolute!important;
    right: 37px;
    top: 48px;
}
.cbb-loai-dm{
	width: calc(100% - 50px)!important;
}

.u-general-info-wrap{
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 40px;
}
.u-pic-wrap{
	width: 150px!important;
	height: 150px!important;
	border-radius: 50%;
	overflow: hidden;
	background: #ccc;	
	position: relative;
}

.lbl-u-name{
	text-align: center;
	color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 20px;
}
.lbl-u-position{
	text-transform: uppercase;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: center;
}
.lbl-u-unit{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.u-detail-info-wrap{
	box-sizing:border-box;
	padding: 0 20px;
	padding-left: 40px;
	position: relative;
}
.u-detail-info-wrap:after{
	content:  "";
	position: absolute;
	width: 20px;
	height: 100%;
	left: 0px;
	top: -10px;
	background: #E9ECF3;
	z-index: 1000;
    min-height: 670px;
}
.lbl-u-info-ttl-wrap{
	position: absolute;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	color: #578ebe;
	width: 100%;
	line-height: 53px;
}
.v-tabsheet-tabs-u-info-tab{
	float: right;
}
.u-info-tab .v-tabsheet-tabitem .v-caption{
	padding: 7px 0;
}
.v-tabsheet-tabcontainer-u-info-tab{
	margin-bottom: 20px;
}
.u-info-tab .v-tabsheet-tabitem-selected .v-caption{
	border-bottom-color: #36C6D3!important;
	color: #000!important;
}
.u-pic{
	width: 100%;
	height: 100%;
}
.btn-change-pic{
	position: absolute!important;
	bottom: 20px;
	right: 20px;
	height: auto!important;
    padding: 0 5px!important;
    border: none!important;
    border-radius: 50%!important;
    display: none;
}
.u-pic-wrap:hover .btn-change-pic{
    display: block;
}
.u-pic-header{
	width: 100%;
	height: 100%;
}
.u-pic-popup-wrap{
	width: 200px;
	height: 200px;
}
.u-pic-popup{
	width: 100%;
	height: 100%;
}
.change-pic-popup-content{
    text-align: center;
    margin: 20px 0;
}
.process-detail .v-label{
	display: inherit;
}
.process-detail .v-caption{
	font-style: italic;
}
.dv-list-wrap{
	box-sizing: border-box;
	padding: 20px 37px;
}
.dv-lbl{
	width: auto!important;
	margin: 0 5px;
	padding: 7px;
	background: #fafafa;
	border: 1px solid #f1f1f1;
	font-weight: 700;
	color: #333;
	font-style: italic;
}
.process-detail-container{
	padding: 0 20px;
}
.option-wrap{
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 15px;
}
.last-cell-wrap{
	/* height: 100%!important;
    width: 100%!important; */
}
.btn-add-row-generated, .btn-remove-row{
	position: absolute!important;
	height: auto!important;
	padding:0 !important;
	border-radius: 50%!important;
	width: 30px!important;
	height: 30px!important;
	top: 50%;
	margin-top: -16px;
	left: 50%;
	margin-left: -16px;
}
.btn-add-row-generated{
	background: #32c5d2!important;
	border: 3px solid #fff !important;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3)!important;
	transition: 0.3s;
}
.btn-remove-row{
	background: #ED6B75!important;
	border: 3px solid #fff !important;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3)!important;
	transition: 0.3s;
}
.btn-add-row-generated .v-icon, .btn-remove-row .v-icon{
	color: #fff!important;
}
.btn-add-row-generated:hover, .btn-remove-row:hover{
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3)!important;
}
.v-absolutelayout-wrapper-chk-lap-hang{
    margin-top: -10px!important;
    margin-left: -10px!important;	
}

.process-detail-content{
	position: relative!important;
	box-sizing:border-box;
}
.process-detail-title-wrap{
	position: absolute!important;
	top: 0;
	left: 0;
}
.v-tabsheet-tabcontainer-process-detail-tab{
	text-align: right!important;
}
.process-detail-tab .v-tabsheet-tabitem .v-caption{
	padding: 10px 0;
}

.process-detail-tab .v-tabsheet-tabitem-selected .v-caption{
	border-bottom-color: #36C6D3!important;
	color: #000!important;
}
.detail-form-gen-wrap{
	box-sizing: border-box;
	padding: 20px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px;
}

.pro-def-wrap{
	cursor: pointer;
	box-sizing: border-box;
	padding: 15px;
	background: #F5F8FD;
	transition: 0.3s;
}
.pro-def-wrap:hover, .pro-def-wrap-active{
	box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
}

.pro-task-wrap{
	display: none;
	box-sizing: border-box;
	padding: 15px 15px;
	border-top: 1px solid #f1f1f1;
	background: #F6F9FB;
	position: relative!important;
	overflow: hidden;
}
.pro-task-wrap:after{
	content: "";
    width: 40px;
    height: 40px;
    position: absolute!important;
    right: -20px;
    bottom: -20px;
    background: #C0EDF1;
    transform: rotate(45deg);
}
.pro-task-item{
	padding: 7px 5px;
	box-sizing: border-box;
	border-bottom: 1px dashed #f1f1f1;
}

.pro-task-icon{
	width: 50px;
	text-align: center;
}
.pro-task-ind{
	text-align: center;
}
.pro-task-info{
	width: calc(100% - 50px);
	padding-left: 15px;
}
.pro-task-name-wrap{
	width: 100%;
}
.pro-task-name{
	width: calc(100% - 210px)!important;
	float: left!important;
}
.pro-task-name-link{
	font-size: 15px;
	color: #5b9bd1;
	padding: 0!important;
    height: auto!important;
    text-align: left!important;
	font-weight: 700!important;
	text-decoration: none!important;
}
.pro-task-create-time{
	width: 210px!important;
	float: left;
	box-sizing: border-box;
}
.pro-task-create-time_lbl{
	width: calc(100% - 30px)!important;
	float:left;
	text-align: right!important;
	font-style: italic;
	color: #c1c1c1;
}
.pro-task-duedate-wrap{
	width: 100%;
	overflow: hidden;
	color: #777;
	font-style: italic;
	margin-top: 5px;
}
.pro-task-duedate_lbl{
	width: 100%;
	position: relative;
	padding-left: 20px;
}
.pro-task-duedate_lbl:before{
	width: 12px;
	height: 12px;
	content: "";
	background: #FBC02D;
	position: absolute;
	left: 0;
	top: 5px;
	border-radius: 50%;
}

.pro-task-duedate_lbl.late:before{
	background: #e7505a !important;
}


.pro-task-desc{
	color: #c4c4c4;
	font-style: italic;
}
.pro-def-container{
	box-sizing: border-box;
	padding: 20px;
}
.pro-def-item-wrap{
	box-sizing: border-box;
	margin: 10px 0;
	border: 1px solid #f1f1f1;
}
.pro-def-icon-wrap{
	width: 50px;
	height: 100%;
	text-align: center;	
	box-sizing: border-box;
	padding-top: 3px;
}
.pro-def-icon{
	width: 40px!important;	
	height: 40px!important;	
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
}
.pro-def-icon span{
	display: block;
	width: 40px!important;	
	height: 40px!important;	
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.pro-def-number-wrap{
	width: 50px;
	text-align: center;
	float: right;
	padding-top: 3px;
}
.pro-def-info-wrap{
	width: calc(100% - 100px)!important;	
	box-sizing: border-box;
	padding: 0 15px;
}
.pro-def-number{
	width: 40px!important;	
	height: 40px!important;	
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	background: #FBC02D;
	color: #fff;
	font-size: 15px;
}
.pro-def-name{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    
}
.pro-def-desc{
    font-style: italic;
    color: #c1c1c1;
}
.pro-task-priority-star{
	text-align: center;
}

/***************Task category navigator****************/
.task-nav{
	box-sizing: border-box;
	padding: 20px;
}
.task-nav-title{
	width: auto!important;
	display: inline-block!important;
	width: auto!important;
	color: #666;   
	font-size: 24px; 
	font-weight: 300!important;
}
.task-nav-btn-container{
	float: right;
}
.task-nav-btn{
	height: 40px!important;
	width: 40px!important;
	padding: 0!important;
	border-radius: 50%!important;
	border-color: #32c5d2!important;
	color: #32c5d2!important;
}
.task-nav-btn-wrap{
	position: relative!important;
	margin: 0 8px;
}
.task-nav-btn-wrap:last-child{
	margin-right: 0!important;
}
.task-nav-number{
	position: absolute!important;
	top: -7px;
	left: -7px;
	width: 22px!important;
	height: 22px!important;
	border-radius: 50%;
	text-align: center;
	background: #e7505a;
	color: #fff;
}
.task-nav-number-zero{
	background: #c4c4c4;
}
.task-nav-btn-active{
	background: #32c5d2!important;
	border-color: #32c5d2!important;
	color: #fff!important;
}
.task-nav-small-title{
	display: inline-block!important;
	width: auto!important;
	color: #666;    
	font-weight: 300!important;
	font-size: 14px;
	margin-left: 15px;
	text-transform: lowercase;
}
.task-list-empty{
    text-align: center;
    color: #c4c4c4;
    font-style: italic;
    margin-top: 25px;
}
.app-item{
	width: 13%;
	margin: 15px 1.8333%;
	float: left;
    /* border: 1px solid #e7ecf1; */
    transition: 0.3s;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}


.app-item-icon-wrap{
	height: 130px;
	position: relative;
	overflow: hidden;
}
.app-item-icon{
	height: 100%;
	transition: 0.3s;
}
.app-item-icon span{
	line-height: 130px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 45px;
	font-weight: 400;
	display: block;
}
.app-item-desc-wrap{
	position: absolute;
	top: -100%; 
	bottom: 0%;
	left: 0;
	width: 100%;
	height: 100%;
    border-bottom: 1px solid #f1f1f1;
    transition: 0.3s;
	/* background: #fff; */
    color: #fff;
	opacity: 0.3;
    background: rgba(0, 0, 0, 0.65);
}

.btn-edit-modeler{
	position: absolute!important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%!important;
	height: 100%!important;
	z-index: 10;
	border: none!important;
	background: transparent!important;
}
.app-item-desc{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	text-align: center;
	box-sizing: border-box;
	padding: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.app-item-ifo-wrap{
	height: 50px;
	overflow: hidden;
	position: relative;
}
.app-item-name{
	box-sizing: border-box;
    padding: 3px 5px;
    text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	max-height: 50px;
}
.app-item-action-wrap{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	left: 0;
	background: #fff;
	transition: 0.3s;
	text-align: center;
}
.app-item:hover .app-item-action-wrap{
	top: 0%;
}
.app-item:hover .app-item-desc-wrap{
	top: 0%;
	opacity: 1;
}
.app-item:hover .app-item-icon{
	transform: scale(1.5, 1.5);
	/* filter: blur(3px); */
}
.app-item:hover{
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.app-item-action{
	width: auto!important;
	height: 40px!important;
	padding: 5px!important;
	margin: 0 2px;
	margin-top: 5px;
}
.app-item-action .v-icon{
	color: #595C60;
}
.paging-wrap{
	text-align: center;
}
.page-title-action-wrap{
	float: right;
}
.btn-process-detail{
	padding: 0!important;
	height: auto!important;
	margin: 3px 10px;
	text-decoration: none!important;
}
.btn-process-detail:hover{
	text-decoration: underline!important;
}
 .user-detail-form table tr.v-formlayout-row:nth-child(5) td{
	position: relative!important;
	/* padding: 0!important; */
} 
.btn-gen-pass{
	 position: absolute!important;
	top:24px;
	right: 37px;
	border: none!important;
    height: auto!important;
    margin-right: 1px;
    margin-top: 2px;
    padding: 5px 12px!important;
    background: #36C6D3!important;
    color: #fff;
}
.btn-gen-pass .v-icon{
    color: #fff;
}
.u-pic-short-name{
	width: 100%;
    color: #fff;
    height: 100%;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}
.task-detail-ttl-wrap{
	box-sizing: border-box;
	padding: 20px;
	border-bottom: 1px dashed #8E9BAE;
}
.task-detail-prioriry-star{
	width: auto !important;
	margin-right: 10px;
}
.task-detail-prioriry-star span{
	font-size: 20px!important;
	line-height: 37px;
}
.task-detail-ttl{
}
.task-detail-create-date{
	width: auto !important;
	line-height: 37px;
	float: right;
	font-style: italic;
	color: #8E9BAE;
}

.task-tl-wrap{
	width: 100%;
	box-sizing:border-box;
	padding: 37px;
	position: relative;
}

.task-tl-wrap:before{
	content: "";
	height: calc(100% - 74px);
	left: 237px;
	width: 2px;
	top:37px;
	background: #BCBCBC;
	position: absolute;
}

.task-tl-start-year-wrap{
	padding: 20px 0;
}
.task-tl-start-year{
	width: 200px!important;
	float: left;
	font-size: 30px;
	position: relative;
	color: #A66C9F;
	text-align: center;
}
.task-tl-start-year:after{
	content: "\f073";
	text-align: center;
	font-family: FontAwesome;
	color: #A66C9F;
	position: absolute;
	background: #fff;
	width: 38px;
	right: -19px;
}
.task-tl-item{
	width: 100%!important;
}
.task-tl-start-date, .task-tl-finish-date{
	width: 200px!important;
	float: left;
	font-size: 16px;
	position: relative!important;
}

.task-tl-date-wrap{
	width: 200px!important;
	float: left;
	font-size: 16px;
	position: relative!important;
}
.task-tl-date-wrap:after{
	content: "\f01d";
	text-align: center;
	font-family: FontAwesome;
	position: absolute;
	width: 38px;
	right: -19px;
	font-size: 25px;
	background: #fff;
	color: #42A9B0;
	top: 50%;
	font-size: 17px;
	margin-top: -13px;
	
}
.task-tl-start-date:after{
	content: "\f10c";
	text-align: center;
	font-family: FontAwesome;
	position: absolute;
	width: 38px;
	right: -19px;
	font-size: 25px;
	background: #fff;
	color: #42A9B0;
	top: 50%;
	font-size: 25px;
	margin-top: -19px;
	
}
.task-tl-finish-date:after{
	content:"\f00c";
	font-family: FontAwesome;
	position: absolute;
	width: 38px;
	right: -20px;
	font-size: 25px;
	background: #fff;
	color: #42A9B0;
	top: 50%;
	line-height: 38px;
    text-align: center;
	font-size: 25px;
	margin-top: -19px;
	border-radius: 50%;
	border: 1px solid #42A9B0;
	
}

.task-tl-date-subprocess-wrap:after, .task-tl-date-super-wrap:after{
	content:"\f0e8";
	font-size: 30px!important;
	color: #A66C9F!important;
	margin-top: -23px!important;
	right: -23px;
	width: 46px!important;
	border-radius:50%!important;
	border: 1px dashed #A66C9F;
}

.task-tl-date span{
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}
.task-tl-item{
	padding: 20px 0;
	border-bottom: 1px dashed #ddd;
}

.task-tl-wrap .task-tl-item:last-child{
	border-bottom: none!important;
}
.task-tl-start-ttl-wrap, .task-tl-finish-ttl-wrap{
	padding-left: 40px;
	box-sizing:border-box;
}
.task-tl-start-ttl, .task-tl-finish-ttl{
	line-height: 38px;
	font-size: 20px;
}
.task-tl-event{
	width: calc(100% - 200px);
	padding-left: 40px;
}
.task-tl-event-ttl-wrap{
	width: 100%;
	line-height: 48px;
	font-size: 19px;	
	font-weight: 400l
}
.task-tl-event-desc-wrap{
	width: 100%;
}
.task-tl-event-desc{
	font-style: italic;
}
.task-tl-event-finish{
	color: #76869D;
	position: relative;
}
.task-tl-event-finish:before{
	content: "\f28e";
	text-align: center;
	font-family: FontAwesome;
	position: absolute;
	width: 38px;
	left: -58px;
	font-size: 25px;
	background: #fff;
	color: #42A9B0;
	top: 50%;
	font-size: 16px;
	margin-top: -9px;
	
}
.task-tl-event-finish-wrap{
	padding-left: 240px;
}

.task-tl-duedate-wrap{
	padding-left: 240px;
	padding-top: 10px;
}
.task-tl-duedate{
	color: #76869D;
	position: relative;
}
.task-tl-duedate:before{
	content: "\f017";
	text-align: center;
	font-family: FontAwesome;
	position: absolute;
	width: 38px;
	left: -58px;
	font-size: 25px;
	background: #fff;
	color: #42A9B0;
	top: 50%;
	font-size: 16px;
	margin-top: -9px;
	
}
.task-tl-item-duedate-ttl{
	padding-left: 10px;
}
.task-tl-duedate-wrap.late .task-tl-duedate:before{
	color: #E12330;
}

.task-tl-i-detail-wrap{
	width: 100%;
	box-sizing: border-box;
	margin: 30px 0;
    transition: height 0.25s ease-in;
	position: relative;
	transition: 0.3s;
}

.task-tl-i-detail-content{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden!important;
	/* display: none; */
	padding: 10px 0!important;
	/* padding: 20px 0; */
	transition: 0.3s;
}
.task-tl-i-detail-content-hidden{
	height: 0;
	overflow: hidden!important;
	max-height: 0;
    transition: height 0.15s ease-out;
	border-bottom: none!important;
	visibility: hidden;
}
.task-tl-i-detail-content-active{
	display: block;
	box-sizing: border-box;
	background: #fff;
	border-bottom: 1px dashed #ddd;
}
.task-tl-i-detail-btn{
	position: absolute!important;
	top :0;
	margin-top: -20px;
    padding: 0 5px!important;
    border-radius: 50%!important;
	height: 40px!important;
	width: 40px;
	color: #17C4BB!important;
	background-color: #fff!important;
	left: 200px;
    margin-left: -20px!important;
    border: 1px dashed #27C3BB!important;
	transition: 0.3s;
	z-index: 10;
}
.task-tl-i-detail-btn:focus{
	outline: none!important;
    border: 1px dashed #27C3BB!important;
}

.task-tl-i-detail-btn:hover{
     box-shadow: 0px 5px 10px rgba(0, 0,0, 0.2)!important;
}
.task-tl-event-running-wrap{
	width: 100%;
	padding-left: 240px;
	position: relative;
	margin-top: 20px;
}
.task-tl-event-running{
	color: #76869D;
	position: relative;
	line-height: 38px;
}
.task-tl-event-running .task-tl-item-assignee{
	color: #E12330;
}
.task-tl-event-running:before{
	content:"\f04c";
	text-align: center;
	font-family: FontAwesome;
	position: absolute;
	width: 38px;
	line-height: 38px;
	left: -58px;
	font-size: 25px;
	background: #fff;
	color: #E12330;
	top: 50%;
	font-size: 17px;
	margin-top: -19px;
	border-radius: 50%;
	border: 1px dashed  #E12330;
	
}
.task-tl-event-owner-wrap{
	width: 100%;
	margin-bottom: 7px;
}
.task-tl-event-owner{
	width: auto!important;
	padding-left: 10px;
	font-style: italic;
	color: #76869D;
}

.tl-subtask-container{
	width: 100%;
	padding-left: 50px;
}
.tl-subtask-container.tl-subtask-wrap{
	padding-left: 240px;
	padding-top:10px;
}
.tl-subtask-item{
	width: 100%;
	padding: 3px 0;
	position: relative!important;
	z-index: 100!important;
}

.tl-subtask-item:before{
	content: "";
	width: 1px;
	height: 37px;
	background: #ccc;
	top: -3px;
	left: 12px;
	position: absolute;
	z-index: 10!important;
}

.tl-btn-detail-subtask{
	float: left;
	height: 25px!important;
	width: 25px!important;
	padding: 0!important;
	text-align: center;
	border-radius: 50%!important;
	background: #404d5c!important;
	border: 1px solid #404d5c!important;
	color: #fff!important;
	z-index: 100!important;
}
.tl-subtask-name{
	width: auto!important;
	float: left;
	padding-left: 10px;
}




.v-caption-task-tl-event-owner .v-icon{
	color: #76869D;
}
.task-tl-item-assignee{
	color: #42A9B0;
}
.td-priority-wrap{
	width: 50px;
	text-align: center;
}
.td-priority-wrap div{
	margin: 0!important;
}
.td-priority-wrap span{
	display: block;
	line-height: 68px;
}







.td-title-wrap{
	border-bottom: 1px dashed #ddd;
}

.td-name{
	padding: 15px 0;
	font-size: 25px;
	font-weight: 300;
}
.td-create-time-wrap{
	float: right;
	padding-right:20px;
}
.td-create-time{
	line-height: 68px;
	font-style: italic;
	color: #17C4BB;
	width: auto !important;
}
.td-history-btn{
	height: 40px!important;
	padding:0!important;
	width: 40px;
	margin-top: 14px;
	margin-left: 15px;
	text-align: center;
	line-height: 40px;
	background: #536881!important;
	transition: 0.2s;
	border-radius:50%!important;
}
.td-history-btn:hover{
	background: #3F4F62!important;
}
.td-history-btn .v-icon{
	font-size: 20px;
	color: #fff;
}

.td-comment-wrap, .td-att-wrap{
	border-top: 1px dashed #ddd;
}
.td-form-wrap, .td-comment-wrap{
	padding: 20px;
}
.td-cmt-box{
	box-sizing: border-box;
	padding: 10px 0;
	position: relative;
}
.td-cmt-cmt-count{
	width: 130px;
}
.td-cmt-cmt-count div{
	width: 100%;
	text-align: center!important;
	font-weight: 700;
	line-height: 34px;
}
.td-cmt-txt-wrap{
	width: calc(100% - 130px);
}
.td-cmt-txt{
	border: none!important;
	width: 100%!important;
	border-bottom: 1px solid #ddd!important;
	transition: 0.3s;
}
.td-cmt-txt:focus{
	border-bottom: 2px solid #17C4BB!important;
}
.td-cmt-box:after{
	content:"\f1d9";
	text-align: center;
	font-family: FontAwesome;
	position: absolute;
	width: 35px;
	line-height: 35px;
	right: 10px;
	top: 10px;
	font-size: 25px;
	background: transparent;
	color: #42A9B0;
	font-size: 17px;
}


.td-cmt-container{
	margin: 20px 0;
	margin-top: 30px;
	position: relative;
}
.td-cmt-container:before{
	content:"";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 130px;
	top: 0;
	background: #ddd;
}

.td-cmt-item{
	margin: 2px 0;	
	padding-top:5px;
	padding-bottom:5px;
	transition:0.2s;
}
.td-cmt-item:hover{
	background: #fafafa;
}
.td-cmt-btn-del-cmt{
	padding:0!important;
	height: auto!important;
	text-decoration: none!important;
	position: absolute!important;
	right: -10px;
	display: none!important;
	top: 0px;
}
.td-cmt-btn-del-cmt .v-button-caption{
	color: #ccc;
	transition:0.2s;
}
.td-cmt-item:hover .td-cmt-btn-del-cmt{
	display: block!important;
}
.td-cmt-item:hover .td-cmt-btn-del-cmt .v-button-caption{
	color: #ED6B75;
}

.td-cmt-date-wrap{
	width: 130px;
}

.td-cmt-date{
	width: 100%;
	position: relative;
}
.td-cmt-date:before{
	content: "\f111";
	font-family: FontAwesome;
	position: absolute;
	right: -16px;
	background: #fff;
	width: 30px;
	top: 50%;
	color: #D3D7E9;
	text-align: center;
	margin-top: -10px;
    font-size: 10px;
}

.td-cmt-date span{
	display: block;
	text-align: center;
	width: 100%;
	font-size: 
}

.td-cmt-info{
	padding-left: 20px;
	box-sizing: border-box;
	width: calc(100% - 150px);
	position: relative!important;
}
.td-cmt-user-wrap{
	width: 100%;
}
.td-cmt-content-wrap{
	width: 100%;
}

.td-cmt-user{
	font-weight: 700;
	color: #578ebe;
	font-style: italic;
}
.td-cmt-content{
	color: #999;
}
.td-comment-header{
	padding: 0 20px;
	text-align: center;
	padding-top: 40px;
	border-top: 1px dashed #ddd;
}

.td-cmt-buttons .v-button{
	text-decoration: none!important;
	padding: 0!important;
	height: auto!important;
	margin: 0 7px;
	color: #777;
}
.td-cmt-buttons .v-button:hover{
	color: #777!important;
	text-decoration: underline!important;
}
.td-att-wrap{
	width: 100%;
	padding: 20px;
}
.td-att-count{
	width: auto!important;
	font-weight: 700;
	line-height: 32px;
}
.td-att-item-add{
	text-align: center;
	position: relative;
	background: #fff;
}
.td-att-add-btn{
    height: 55px!important;
    padding: 0!important;
    border-radius: 50%!important;
    font-size: 21px;
    width: 55px;
    border: 1px dashed #03A9F4!important;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    box-shadow: 2px 5px 5px rgba(0,0, 0,0.25)!important;
    transition: 0.3s;
}
.td-att-add-btn:hover{
	box-shadow: 2px 5px 15px rgba(0,0, 0,0.25)!important;
}

.td-att-container{
	margin-top: 15px;
	background: #F7F7F7;
	padding: 10px 0;
}

.td-att-item{
	width: 18%;
	margin: 1%;
	height: 130px;
	position: relative;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.td-att-info-wrap{
	width: 100%;
	height: 90px;
	position: relative;
	padding: 10px;
	background: #fff;
}
.td-att-type{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	font-size: 30px;
	color: #ddd;
	z-index: 1;
	line-height: 90px;
	text-align: center;
	font-weight: bolder;
	
}

.td-att-user, .td-att-time{
	z-index: 2;
	position: relative;
	padding-left: 20px;
	line-height: 26px;
}
.td-att-user:before, .td-att-time:before{
	content:"";
	font-family: FontAwesome;
	position: absolute;
	left: 0px;
	top: 0;
	font-size: 25px;
	background: transparent;
	color: #A8A8AA;
	font-size: 17px;
}
.td-att-user:before{
	content:"\f007";
}
.td-att-time:before{
	content:"\f017";
}
.td-att-name-wrap{
	width: 100%;
	top: 90px;
	left: 0;
	height: 40px;
	background: #03A9F4;
	position: absolute;
	overflow: hidden;
	z-index: 100;
	transition: 0.3s;
}
 .td-att-name-wrap:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: #0277BD;
	right: -15px;
	bottom: -15px;
	transform: rotate(45deg);
} 
.td-att-name{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 5px;
	text-overflow: ellipsis;
	color: #fff;
	position: relative;
	padding-left: 30px;
}
.td-att-name:before{
	content:"\f15b";
	font-family: FontAwesome;
	position: absolute;
	left: 7px;
	top: 0;
	font-size: 25px;
	background: transparent;
	color: #fff;
	font-size: 17px;
}
.td-att-item:hover .td-att-name-wrap{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.td-att-item:hover .td-att-name{
	height: auto!important;
	line-height: 22px!important;
	white-space: initial;
	max-height: 85px;
}

.td-att-download-wrap{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 90px;
	text-align: center;
	left: 0;
}
.td-att-download-btn{
    font-size: 20px;
    background: #f7f7f7;
    border: none!important;
    border-radius: 50%!important;
    padding: 0!important;
    width: 37px!important;
}

.td-nav-wrap{
	position: fixed!important;
	right: 40px;
	bottom: 30px;
	z-index: 1000;
	width: 60px;
}

.td-nav-wrap{
	box-sizing: content-box;
	padding: 30px 0;
	background: #17C4BB;
	border-radius: 30px;
	width: 60px;
	position: relative;
}
.td-nav-wrap div{
	width: 60px;
	height:60px;
	background: #17C4BB;
	cursor: pointer;
	position: absolute;
	bottom:0;
	left:0;
	transition: 0.3s;
	border-radius: 50%;
}
.td-nav-wrap-active .td-nav-cmt{
	bottom:120px;
}

.td-nav-wrap-active .td-nav-att{
	bottom:60px;
}

.td-nav-wrap .td-nav-cmt:before, .td-nav-wrap .td-nav-att:before{
	content:"\f15b";
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 25px;
	width: 100%;
	height: 100%;
	background: transparent;
	color: #fff;
	font-size: 22px;
	text-align: center;
	line-height: 60px;
}
.td-nav-wrap .td-nav-cmt:hover, .td-nav-wrap .td-nav-att:hover{
	background: #34A3AC!important;
}

.td-nav-wrap .td-nav-cmt:before{
	content:"\f086";
}
.td-nav-wrap .td-nav-att:before{
	content:"\f0c6";
}


.td-nav-close  .td-nav-cmt, .td-nav-close .td-nav-att{
	display: none;
}
.td-nav-open-btn{
	position: relative;
	background: #ED6B75!important;
	box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4);
	trasition: 0.3s;
}

.hamburger {
  width: 20px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}
.td-nav-open-btn-active{
	box-shadow: none!important;
}

.td-nav-open-btn-active .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.td-nav-open-btn-active .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.td-nav-open-btn-active .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}


.task-tl-process-ins-name{
	color: #42A9B0;
	padding-right: 7px;
	text-transform: lowercase;
}

.td-user-wrap{
	box-sizing: border-box;
	padding: 0 20px;
	border-bottom: 1px dashed #ddd;
}
.td-user-assignee-lbl, .td-user-owner-lbl{
	width: auto!important;
	padding: 10px 0;
	margin-right: 10px;
}
.td-user-owner-lbl{
	margin-left: 20px;
}
.td-user-assignee-wrap, .td-user-owner-wrap{
	margin-top: 9px;
}
.td-user-assignee, .td-user-owner{
	width: auto!important;
	float: left;
	margin-right: 10px;
    font-weight: 700;
    color: #578ebe;
    font-style: italic;
    line-height: 24px;
}
.td-user-assignee-btn, .td-user-owner-btn{
	padding: 0!important;
	height: 24px!important;
	border: none!important;
	width: 24px!important;
	border-radius: 50%!important;
}
.td-user-rl-lbl{
	width: auto!important;
	font-style: italic;
	float: left;
	line-height: 25px;
}
.td-user-rl-lbl-wrap{
	position: relative;
	margin: 7px 0;
	padding: 3px 0;
	/* background: #fafafa; */
}
.td-user-rl-see-more{
	float: left;
	width: 25px!important;
	position: relative;
	height: 25px;
	font-size: 20px;
	margin-left: 15px;
	cursor: pointer;
	transition: 0.3s;
}
.td-user-rl-see-more:before{
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 25px;
}

.td-user-rl-wrap{
	padding: 10px 0;
	display: none;
}

.td-user-rl-group{
	margin: 7px 0;

}

.td-user-rl-group-lbl{
	width: 150px!important;
}

.td-user-rl-container{
	width: calc(100% - 150px)!important;
}


.td-user-rl-i{
	position: relative!important;
	background: #ABE7ED;
	margin: 0 5px;
	border: 1px solid #27a4b0;
	transition: 0.3s;
	overflow: hidden;
}
.td-user-rl-i-name{
	width: auto !important;
	padding: 0 10px;
	line-height: 30px;
	transition: 0.3s;
	padding-right: 34px;
}
.td-history-rl-i .td-user-rl-i-name, .td-history-rl-i .td-group-rl-i-name{
	padding-right: 10px!important;
}

.v-caption-td-user-rl-i-name{
	padding: 0!important;
	padding-left: 10px!important;
	line-height: 30px;
}
.td-user-rl-i-remove{
	height: auto!important;
	padding:0!important;
	position: absolute!important;
	right:4px;
	width: 22px;
    border-radius: 50%!important;
    top: 4px;
    border: none!important;
    background: transparent!important;
	transition: 0.3s;
}

.td-user-rl-see-more-open{
	transform: rotate(-180deg);
}

.td-user-rl-btn-add{
	float: right;
	padding:0 10px!important;
	height: auto!important;
	background: #536881!important;
	color:#fff!important;
	margin-left: 7px;
	transition:0.2s;
}

.td-task-event-btn{
	float: right;
	padding:0 10px!important;
	height: auto!important;
	background: #536881!important;
	color:#fff!important;
	transition:0.2s;
}

.td-task-event-btn:hover, .td-user-rl-btn-add:hover{
	background: #3F4F62!important;
}
.te-popup{
	padding: 10px 0;
}
.te-popup-i{
	width: 100%;
	margin: 2px 0;
	padding: 10px;
	position: relative;
}
.te-popup-i:hover{
	background: #fafafa;
}
.te-popup-i-icon{
	width: 25px!important;
	height: 25px!important;
	position: relative;
	border-radius: 50%;
	position: absolute!important;
	top: 50%;
	left: 10px;
	margin-top: -12.5px;
}
.te-popup-i-icon:after{
	position: absolute;
	content: "";
	font-family: FontAwesome;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	text-align: center;
	line-height: 25px;
	color: #fff;
	border-radius: 50%;
}
.te-popup-i-icon-remove:after{
	content: "\f00d";
	background: #F1C40F;
}

.te-popup-i-icon-add:after{
	content: "\f067";
	background: #36C6D3;
}

.te-popup-i-content, .te-popup-i-time{
	width: calc(100% - 40px)!important;
}
.task-event-u-name, .task-event-highlight-u{
	color: #337AB7;
}
.te-popup-i-content{
	line-height: 25px;
	float: right;
}
.te-popup-i-time{
	float: right;
	text-align: left;
	font-style: italic;
	color: 	#999;
}
.task-event-highlight{
	font-style: italic;
}
.header-search-box{
	margin: 17px 0;
	margin-left: 22px;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.mssg-bar{
	margin-left: 21px;
}
.header-search-box-lbl{
	position: absolute;
	width: 34px!important;
	height: 34px!important;
	right: 0;
	top: 0;
	cursor: pointer;
	z-index: 500;
	text-align: center;
	line-height: 34px;
}

.header-search-box-txt{
    border:1px solid #ccc!important;
    width: 120px!important;
    background: url("images/search.png") no-repeat, #fff !important;
    background-size: 17px 17px!important;
    background-position: right 10px center !important;
	-webkit-transition: all .2s ease-out!important;
	-moz-transition: all .2s ease-out!important;
	-ms-transition: all .2s ease-out!important;
	-o-transition: all .2s ease-out!important;
	transition: all .2s ease-out!important;
	position: relative;
	z-index: 500;
}

.header-search-box-txt:focus {
    border:1px solid #fff!important;
  	width: 500px!important;
}
.search-bg-blur{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s!important;
	opacity: 0;
	visibility: hidden;
}
.search-bg-blur-active{
	z-index: 100;
	transition: opacity 0.3s!important;
	display: block!important;
	opacity: 1!important;
	visibility: visible;
	cursor: default;
}
.search-box-wrap{
	box-sizing: border-box;
	padding: 20px;
}
.search-box{
	border: none!important;
	height: auto!important;
	padding: 15px 10px!important;
    background: url("images/search.png") no-repeat, #F3F6F9 !important;
    background-size: 17px 17px!important;
    background-position: right 10px center !important;
}

.search-total-result-lbl{
    width: 100%;
    padding-left: 20px;
    font-size: 17px;
    font-style: italic;
}
.search-q{
	color: #17C4BB;
	font-weight: 700;
}
.search-item{
	margin: 5px 0;
}
.search-item-ttl{
	height: auto!important;
	padding: 0!important;
	text-decoration: none!important;
	float: left;
	line-height: 25px;
	color: #4e5a64!important;
}
.search-item-ttl:hover{
	color: #49a7fa!important;
}
.search-item-icon{
	width: 30px!important;
	height: 25px!important;
	float: left!important;
	position: relative;
}

.search-result-wrap{
	margin-top: 20px;
}

.search-item-icon:before{
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 25px;
	text-align: center;
	content: "\f292";
	font-family: FontAwesome;
}
.search-item-hs .search-item-icon:before{
	content: "\f0ec"!important;
}
.search-item-bm .search-item-icon:before{
	content: "\f1ad"!important;
}
.process-ins-container{
	padding: 20px;
}



/********COLLAPSE******/
.collapse-panel-item{
	margin-bottom: 7px;
}
.collapse-panel-item-head{
	border: 1px solid #f1f1f1;
	background: #fafafa;
	cursor: pointer;
	padding: 10px;
}
.collapse-panel-item-ttl{
	width: auto !important;
	float:left!important;
	line-height: 30px;
	font-size: 19px;
	font-weight: 300!important;
}
.collapse-panel-item-btn{
	width: 30px !important;
	float:right!important;
	height: 30px;
	position: relative;
	cursor: pointer;
	transition: .3s;
}
.collapse-panel-item-btn-rotate{
	transition: .3s;
	transform: rotate(180deg);
}
.collapse-panel-item-btn:before{
	content: "\f107";
	position: absolute;
	font-family: FontAwesome;
	width: 100%;
	height: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 19px;
}
.chat-box-collapse:before{
	content: "\f27a";
	position: absolute;
	font-family: FontAwesome;
	width: 40px;
	height: 100%;
	line-height: 30px;
	text-align: center;
	right: 0;
	color: #fff!important;
	top:0;
	font-size: 19px;

}
.chat-box-wrap{
	width: 320px!important;
	height: 30px!important;
	position: fixed!important;
	bottom: 0;
	right: 37px;
	background: #fff;
	z-index: 1000;
}
.chat-box{
	display: none;
}
.chat-box-wrap-hide{
	height: 370px!important;
}
.chat-box-collapse{
	width: 100%;
	height: 30px;
	background: #17C4BB;
	cursor: pointer;
	position:relative;
}
.chat-box-wrap .chat-box{
	position: absolute!important;
	width: 100%!important;
	height: calc(100% - 30px)!important;
	bottom:0;
	left: 0;
}

.help-popup-content{
	height: 100%;
}

.help-wrap{
	margin-top: 17px;
	margin-left: 15px;
}
.help-btn{
	height: 34px!important;
	padding: 0!important;
	width: 34px;
	border-radius: 50%!important;
}
.help-btn .v-icon{
	font-size: 18px;
	line-height: 34px;
}
.blog-wrap{
	margin-top: 17px;
	margin-left: 15px;
}
.blog-btn{
	display: block;
	height: 34px!important;
	padding: 0!important;
	width: 34px;
    text-align: center;
    border-radius: 50%!important;
    border: 1px solid #c5c5c5;
}
.blog-btn a{
	display: block;
    color:#191919!important;
}
.blog-btn .v-icon{
	font-size: 18px;
	line-height: 34px;
}
.task-tl-btn-subprocess{
	color: #42A9B0!important;
	text-decoration: none!important;
	font-size: 20px!important;
}

.task-tl-subprocess-ins-id{
	color: #333!important;
	padding-left: 7px;
}

.task-tl-subprocess-wrap .task-tl-event-finish-wrap{
	margin-top: 20px;
}
.task-tl-i-detail-container{
	padding: 20px;
}





.log-file{
	padding: 20px;
}

.td-claim-wrap{
	background: #E9ECF3!important;
	text-align: center;
	padding-bottom: 20px;
}
.td-btn-claim{
	background: #17C4BB!important;
	height: auto!important;
	color: #fff!important;
	border-color: #17C4BB!important;
	padding: 13px 15px!important;
	border-bottom: 2px solid #137f78!important;
	border-radius: 3px!important;
	box-shadow: 0 7px 20px rgba(0,0,0,0.15)!important;
	transition: 0.2s;
}
.td-btn-claim:hover{
	box-shadow: none!important;
}





/*********Process********/

.process-view-mode{
	padding: 0 1%;
}
.btn-view-mode{
	margin-right: 20px;
	float: right;
	height: 30px!important;
	padding: 0px 7px!important;
	border: 1px solid #f1f1f1!important;
}
.data-wrap.process-container{
	padding-top:0;
}

.process-grid .pd-item{
	width: 18%;
	margin: 1%;
	float: left;
	overflow: hidden;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.process-grid .pd-item-info{
	width: 100%;
	position: relative;
}
.process-grid .pd-item-status{
	position: absolute;
	width: 40px!important;
	height: 40px!important;
	transform: rotate(45deg);
	top: -20px;
    left: -20px;
    z-index: 10;
}

.process-grid .pd-item-suspend{
	background: #F0868E;
}
.process-grid .pd-item-using{
	background: #17C4BB;
}

.process-grid .pd-item-img-wrap{
	width: 100%;
	height: 120px;
	overflow: hidden;
	box-sizing: border-box;
	line-height: 120px;
	background: #F1F7FD;
	text-align: center;
}
.process-grid .pd-item-img{
	width: 90%;
	margin: auto;
	vertical-align: middle;
}
.process-grid .pd-item-name-wrap{
	width: 100%;
	height: 50px;
	position: relative;
}
.process-grid .pd-item-short-name{
	width: 50px;
	height: 50px;
	float: left;
}
.process-grid .pd-item-short-name-llb{
	height: 100%;
	width: 100%;
}
.process-grid .pd-item-short-name-llb span{
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 10%;
	display: block;
	text-align: center;
	font-size: 25px;
	color: #fff;
	border-radius: 50%;
}
.process-grid .pd-item-name{
	width: calc(100% - 50px);
	float: left;
	overflow: hidden;
	height: 100%;
	padding-top: 5px;
	padding-right: 5px;	
	
}
.process-grid .pd-item-name-lbl{
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.process-grid .pd-item-pub-date{
	font-style: italic;
    line-height: 20px;
    color: #ddd;
}

.process-grid .pd-item-desc{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
    transition:0.2s;
}

.process-grid .pd-item-btns{
	position: absolute;
	width: 100%;
	height: 50px;
	top:100%;
	left:0; 
	background: #fff;
	text-align: center;
    transition:0.2s;
}
.process-grid .pd-item-btn{
	height: auto!important;
    padding: 7px!important;
    margin: 3px;
    margin-top: 6px;
    width: 36px;
    color: #525e64!important;
    border-radius: 50%!important;
    background: #fafafa!important;
    transition:0.2s;
}
.process-grid .pd-item-btn:hover{
    background: #17C4BB!important;
    color: #fff!important;
}

.process-grid .pd-item:hover .pd-item-desc{
	top:0;
}
.process-grid .pd-item:hover .pd-item-btns{
	top:0;
}
.process-grid .pd-item-btn-view{
	position: absolute!important;
	width: 100%!important;
	height: 100%!important;
	top: 0;
	left: 0;
	background: transparent!important;
	border: none!important;
}

.pd-item-txt-search{
	width: 300px!important;
	border: none!important;
	border-bottom: 2px solid #ddd!important;
	transition:0.2s;
}
.pd-item-txt-search:focus{
	border-bottom: 2px solid #17C4BB!important;
}

.process-ins-del-reason-form{
	padding: 0 25px;
	box-sizing: border-box;
}

.process-th-list{
	padding: calc(1% + 20px);
	padding-top: 1%!important;
}



















.file-list-html-link{
	height: auto!important;
	padding: 0!important;
	margin: 3px!important;
	text-decoration: none!important;
}
.file-list-html-link:hover{
	text-decoration: underline!important;
}

.calc-btn-wrap{
	width: 100%;
	text-align: center;
	padding: 10px 0;
}




.formula-container{
	padding: 20px;
}
.formula-item{
	margin: 7px 0;
}
.formula-item .formula-item-fw{
	width: 30%;
	float: left;
	padding: 0 20px;
}
.formula-remove{
	width: 10%;
	text-align: center;
	height: 59px;
	position: relative!important;
	bottom: 0;
}

.formula-remove-btn{
	position: absolute!important;
    bottom: 0;
    right: 0;
}
.formula-wrap{
	text-align: center;
}

.truong-tt-s{
	padding-bottom: 10px;
}
.truong-tt-s-field{
	width: 50%;
	
}
.truong-tt-s .truong-tt-s-field:nth-child(1){
	padding-right: 10px;
}
.truong-tt-s .truong-tt-s-field:nth-child(2){
	padding-left: 10px;
}

.cell-ttt-code{
	padding: 3px;
	margin: 2px;
	background: #f1f1f1;
}
.cell-ttt-code .v-icon{
	padding: 0 2px;
}

.tl-task-g, .tl-task-u{
	padding: 0 10px;
	
}
.tl-task-u .v-icon, .tl-task-g .v-icon{
	padding-right: 7px;
}
.group-column-cell-lbl{
	padding: 3px;
	margin: 2px;
	background: #659BE0;
	border-radius: 3px;
	color: #fff;
	width: auto!important;
}
.td-group-rl-i{
	background: #3BAFDA!important;
	border-color: #188AE2 !important;
}
.td-duedate{
	width: auto!important;
    line-height: 68px;
    font-style: italic;
    color: #ED6B75;
    padding-left: 20px;
}

.help-text-content{
	max-width: 400px!important;
	padding: 10px;
}
.help-text-popup .v-icon{
	font-family: FontAwesome;
    width: 30px;
    line-height: 30px;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
}

.his-task-assignee{
	font-weight: 700;
}
.form-gen-completed-u .v-filterselect-button{
	display: none;
}


.import-window-content{
	height: 100%!important;
    text-align: center!important;
    padding-top: 45px!important;

}


.prodef-cate-tab{
	padding: 10px 20px;
	box-sizing: border-box;
}
.prodef-tab-btn{
	padding: 10px 15px!important;
	height: auto!important;
    text-decoration: none!important;
    color: #333!important;
    border-bottom: 1px solid #c4c4c4!important;
    margin: 5px 0;
}
.prodef-tab-btn-active{
	border-bottom: 2px solid #17C4BB!important;	
}
.prodef-tab-btn:focus:after {
    border-color: #17C4BB!important;
}




.notif-block{
	position: fixed;
	width: 250px;
	height: auto;
	bottom: 40px;
	left: 40px;
	z-index: 1000;
}

.notif-item{
	width: 100%;
	min-height: 70px;
	background: #fafafa;
	border-radius: 3px!important;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	margin: 4px 0;
	padding: 10px;
}

.notif-u-name{
	font-style: italic;
	font-weight: bold;
}
.notif-content{
	font-style: italic;
}
.notif-item i{
	display: block;
	text-align: right;
	color: #c4c4c4;
}
.notif-task-name{
	font-style: italic;
	font-weight: bold;
}
.notif-item-btn{
	position: absolute!important;
    left: 0;
    top: 5px;
    width: 100%;
    height: calc(100% - 10px)!important;
    border: 0!important;
    background: transparent!important;
    padding: 0!important;
    margin: 0!important;
}


.notif-wrap{
	height: 70px;
	padding: 0 15px;
	position: relative!important; 
}

.notif-icon{
	text-align: center;
	position: relative!important;    
	padding: 0 10px;
}
.notif-btn{
	border: 1px solid #f1f1f1!important;
	padding: 0!important;
	height: auto!important;
	width: 30px!important;
	height: 30px!important;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;    
	margin-top: 20px;
}
.notif-lbl{
	position: absolute!important;
	top: 7px;
	left:0;
	width: 25px!important;
	height: 25px!important;
	text-align: center;
	line-height: 25px;
	padding: 0!important;
	background: #E25A63;
	color: #fff;
	border-radius: 50%;
}
.notif-container-wrap{
	position: absolute!important;
	width: 400px;
	right: 0;
	top:100%;
	background: #fff;
	z-index: 100;
	padding: 5px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
	border: 1px solid #f1f1f1;
	display: none;
}
.notif-container{
	width: 100%;
	height: auto;
	max-height: 500px;
	overflow-y:auto;
}
.notif-container-wrap:after{
	content: "";
    top: -15px;
    right: 31px;
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 8px solid #F6F7F9;
}
.notif-container-wrap:before{
	content: "";
    top: -17px;
    right: 30px;
    position: absolute;
    border: 9px solid transparent;
    border-bottom: 9px solid #f1f1f1;
}
.notif-list-item{
	padding: 10px;
	width: 100%;
	border: 1px solid #f1f1f1;
	margin: 2px 0;
	background: #F6F7F9;
	position: relative;
}
.notif-list-item-clicked{
	background: #fff!important;
}
.n-list-item-btn{
	position: absolute!important;
	top:0;
	left:0;
	width: 100%!important;
	height: 100%!important;
	background: transparent!important;
	border: none!important;
}
.n-list-item-uimgs{
	width: 50px;
    float: left;
}
.n-list-item-content{
	width: calc(100% - 50px);
    float: right;
}
.n-list-item-shortname{
	width: 100%;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #f1f1f1;
	text-align: center;
	line-height: 50px;
	background: #647a93;
	color: #fff;
	font-size: 17px;
}
.n-list-item-content-lbl{
	padding-left: 10px;
}
.n-item-user, .n-item-task{
	font-weight: 600;
}
.n-item-time{
	display: block;
	font-style: italic;
	color: #777;
}
.highlighted{
	background: #e3effc!important;
}

.n-list-view-more-wrap{
	width: 100%;
	text-align: center;
}
.n-list-view-more-btn{
	text-decoration: none!important;
}

.form-group-2-comp .form-gen-control{
	width: 49%;
}

.form-group-2-comp .form-gen-control:nth-child(2){
	float:right;
}
.v-richtextarea.v-readonly{
	border: none;
}
.subtask-container, .subtask-item {
    width: 100%!important;
}
.subtask-item {
	padding: 5px 0;
	position: relative!important;
}
.pro-task-item > .subtask-container{
	box-sizing: border-box;
	padding-left: 70px;
	padding-right: 35px;
}
.subtask-container{
	box-sizing: border-box;
	padding-left: 30px;
}
.subtask-item .subtask-item-name-wrap {
    width: 100%;
    z-index: 1000;
    position: relative;
}
.subtask-index {
    float: left;
    width: 20px!important;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #404D5C;
    color: #fff;
    z-index: 50;
}
.subtask-item{
	z-index: 100;
}
.subtask-item:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top: 5px;
	left: 10px;
	background: #ccc;
	z-index: 1;
}

.subtask-container .subtask-item:nth-child(1):after{
	content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    top: -10px;
    left: -3px;
    background: #ccc;
    z-index: 1;
    transform: rotate(-48deg);
}
.subtask-item-name {
    height: auto!important;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}
.subtask-item-name.v-button-link{
    text-decoration: none!important;
}
.subtask-createtime{
    float: right;
    width: auto!important;
    color: #ccc;
    font-style: italic;
}

.btn-addnew-subtask {
    right: 105px;
    bottom: 27px;
}

.other-tasks .pro-def-wrap{
	background: #fff;
}
.table-content-lbl{
	line-height: 20px;
}

















/**************responsive************/
@media ( max-width : 1200px) {
.header-search-box-txt:focus {
	    border:1px solid #fff!important;
	  	width: 300px!important;
	}
}

@media ( max-width : 970px) {
	

	.container{
		padding: 20px;
		padding-top: 10px;
	}
	.container:before{
		display: none;
	}
	
	.logo-wrap-hiden{
		display: block!important;
	}
	.header-right-content{
		width: 100%;
	}
	.user-wrap{
		float: right;
	}
	
	.lbl-u-info-ttl-wrap{
		position: relative!important;
	}
	
	.header-search-box-txt{
	    width: 250px!important;
	}
	
	.v-tabsheet-tabs-u-info-tab{
		float: left!important;
	}
	.process-filter-wrap, .date-filter-wrap, .periodic-filter-wrap, .submit-filter-wrap{
		display: block !important;  
		width: 100%!important;
	}
	.model-item{
		width: 49%!important;
	}
	.submit-filter-wrap{
		text-align: center;
	}
	.submit-filter-wrap .v-button{
		margin-top: 0 !important;
	}
	.to_date-filter-wrap, .from_date-filter-wrap{
		width: 50%!important;
	}
	.header{
		width: 100%!important;
		display: block!important;
		height: auto!important;
		padding-right: 0px!important
	}
	.header-left{
		width: 100%!important;
		display: block!important;
	}
	.header-right{
		width: 100%!important;
		display: block!important;
		float: none!important;
		float:left!important;
		background: #fff;
	}
	.main-menu-bar-small{
		width: 100% !important;
		display: none;
	}
	.main-menu-bar{
		width: 100%;
	    margin-left: 0;
		width: 100%!important;
		padding: 0!important;
		margin-top: 10px;
	}
	.hidden-menu-bar{
		display: none!important;
	}
	.main-menu-bar-content{
		width: 100%!important;
	}
	.main-wrap{
		margin-top: 20px;
		display: block!important;
		width: 100%!important;
		padding:0;
	}
	.tk-item{
		width: 47%!important;
		margin: 1.5%!important;
	}
	
	.u-general-info-wrap{
		width: 100%!important;
	}
	.u-detail-info-wrap{
		width: 100%!important;
		padding-left: 20px!important;
		margin-top: 20px;
		padding-top: 40px;
	}
	.u-detail-info-wrap:after{
		width: 100%!important;
		height: 20px!important;
		min-height: 0!important;
	}
	.u-pic-wrap{
		width: 400px!important;
		height: 400px!important;;
	}
	.new-task-list{
		width: 97%!important;
		margin: 1.5%!important;
	}
	.process-list{
		width: 97%!important;
		margin: 1.5%!important;
	}
	.app-item{
		width: 17%;
		margin: 15px 1.5%;
		float: left;
	    border: 1px solid #f1f1f1;
	    transition: 0.3s;
	}
}










@media ( max-width:650px) {
	.tk-item{
		width: 97%!important;
		margin: 1.5%!important;
	}
	.u-pic-wrap{
		width: 200px!important;
		height: 200px!important;;
	}
	.model-item{
		width: 99%!important;
	}
	.app-item{
		width: 22%;
		margin: 15px 1.5%;
		float: left;
	    border: 1px solid #f1f1f1;
	    transition: 0.3s;
	}
}
@media ( max-width:600px) {
	.pagination-bar{
		width: 100%;
		text-align: center;
	}
	.pagination-bar-left{
		float: none;
		margin-bottom: 20px;
	}
	.pagination-bar-right{
		float: none;
	}
}
@media ( max-width:500px) {
	.app-item{
		width: 46%;
		margin: 15px 2%;
		float: left;
	    border: 1px solid #f1f1f1;
	    transition: 0.3s;
	}
	.header-search-box-txt:focus {
	    border:1px solid #fff!important;
	  	width: 250px!important;
	}
}
@media ( max-width:400px) {
	.header-right{
		/* height: 140px!important; */
	}
	.header-search-box-txt:focus {
	    border:1px solid #fff!important;
	  	width: 250px!important;
	}
	.user-wrap{
		background: #fafafa;
		width: 100%;
		height: 70px;
		margin-right: 0;
	}
	.user-name{
		float: right;
	}
	.mssg-bar{
		width: 100%;
		margin: 0!important;
		text-align: center;
	}
}

.td-subtask-wrap{
	padding: 20px;
	border-top: 1px dashed #ddd;
}
.td-subtask-wrap .v-label {
	font-weight: 700;
}
.td-subtask-content{
	margin-top: 10px;
}

.pro-task-pro-ins-info-wrap{
	width: 100%;
}


.search-task-form{
	width: 100%;
	padding: 0 20px;
}
.search-task-form .v-textfield{
	width: calc(100% - 70px);
}
.search-task-form .btn{
	width: 70px;
	height: 34px!important;
}


.pro-task-desc-wrap{
	width: 100%;
}
.task-field-info-wrap{
	overflow: hidden;
	padding: 10px 0;
}
.task-field-info{
	width: 100%;
	padding: 3px;
	border-bottom: 1px solid #f1f1f1;
}
.task-field-info .ttl{
	color: #777;
	font-style: italic;
}

.task-field-info .vl{
	color: #444;
}
.field-display-config-wrap{
	padding: 20px;
}

.btn-add-field-wrap{
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top: -19px;
	background: #FAFAFA;
	border: 1px solid #f1f1f1;
	padding: 7px 0;
	border-top: none;
}
.btn-add-field{
	height: 30px!important;
	padding: 0 30px!important;
}
.cbb-inner{
	padding-top: 14px;
}

.btn-undo{
	position: fixed!important;
	bottom: 40px;
	right: 40px;
}