
<div class="modal" ng-controller="KisBpmMyCategoryPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h2>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
            		<div class="col-xs-12">
                        <div >
                            <div class="form-group">
            			   		<label for="idField">Ma</label>
            			   		<input id="idField" class="form-control" ng-model="searchMa" type="text"  placeholder="{{'PROPERTY.FORMPROPERTIES.ID.PLACEHOLDER' | translate }}" />
            				</div>
            				<div class="form-group">
            			   		<label for="nameField">Ten</label>
            			   		<input id="nameField" class="form-control" ng-model="searchTen" type="text"  placeholder="{{'PROPERTY.FORMPROPERTIES.NAME.PLACEHOLDER' | translate }}" />
            				</div>
           				</div>
                        <div class="btn-group btn-search-wrap">
                            <button ng-click="search()" class="btn btn-primary btn-search">Search</button>
                        </div>
                        <div class="default-grid" ng-grid="formOptions"></div>
           			</div>
        		</div>
            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
