
<div ng-controller="KisBpmPriorityCtrl">
    <select ng-model="property.value" ng-change="priorityChanged()">
    	<option value="0">Low</option>
    	<option value="1">Medium</option>
    	<option value="2">High</option>
    	<option value="3">Very High</option>
    </select>
</div>