<!DOCTYPE html>
<html>
<head>
<title>Hello WebSocket</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<script th:src="@{/webjars/cryptojs/rollups/sha512.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars//bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/angularjs/angular.min.js}"></script>
<script th:src="@{/adminapp.js}"></script>
</head>
<body>
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2>
	</noscript>
	<div ng-app="AdminChat" ng-controller="chatCtrl"  th:attr="ng-init='adminId='+${adminId}+';init();'">
		<div id="main-content" class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div>
						<button type="button" class="btn btn-primary"
							ng-click="getNextGroup()" ng-if=" peddingGroupCount > 0 ">
							Get new group <span class="badge">{{peddingGroupCount}}</span>
						</button>
					</div>
					<ul class="nav nav-pills nav-stacked">
						<li ng-repeat="group in chatGroup | orderBy:'id' track by $index"
							ng-class="{'active': group.id == currentGroup.id }"><a
							ng-click="changeGroup(group)">{{group.name}}</a></li>
					</ul>
				</div>
				<div class="col-md-8">
					<div>
						<div class="col-xs-8 col-sm-9 col-md-10 col-lg-11 "></div>
						<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
							<button type="button" class="btn btn-default" data-toggle="modal"
								data-target="#assignModal">Assign</button>
							<div class="modal fade" id="assignModal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Admin list</h4>
										</div>
										<div class="modal-body">
									<button id="send" class="btn btn-default" ng-click="getAdminList()"
										ng-if=" connected ">Search</button>
											<table class="table">
											    <thead>
											      <tr>
											        <th>Name</th>
											        <th>Assign</th>
											      </tr>
											    </thead>
											    <tbody>
											      <tr ng-repeat="admin in adminList  | orderBy : 'id' track by $index">
											        <td>{{admin.name}}</td>
											        <td>
											        	<button id="send" class="btn btn-default" ng-click="assign(admin)" ng-if=" connected " >Assign</button>
											        </td>
											      </tr>
											    </tbody>
											  </table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default"
						th:style="'height: '+${chatBoxHeight}+'px;overflow-y: scroll;'"
						ng-scroll-bottom="chatHistory[currentGroup.id]">
						<div class="panel panel-primary"
							ng-repeat="mess in chatHistory[currentGroup.id]  | orderBy : 'id' track by $index"
							ng-class="{'panel panel-success': mess.from === 'Guest','panel panel-primary': mess.from === 'Admin','panel panel-danger': mess.from === 'Server' }">
							<div class="panel-heading">{{mess.from}}</div>
							<div class="panel-body">{{mess.message}}</div>
						</div>
					</div>
					<div>
						<form>
							<div class="form-group">
								<div class="col-xs-8 col-sm-9 col-md-10 col-lg-11 ">
									<input type="text" ng-model="message" id="message"
										class="form-control" placeholder="Your message here..." />
								</div>
								<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
									<button id="send" class="btn btn-default" ng-click="send()"
										ng-if=" connected ">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>