   <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<script th:src="@{/js/d3.v3.min.js}"></script>
<script th:src="@{/js/d3.tip.v0.6.3.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/chart.css}" ></link>
<title>Chart</title>

</head>
<body>

<div id="chart-wrap-id" class="chart-wrap">
	<svg id="svg-chart"></svg>
</div>
<script th:inline="javascript">
var chartType = [[${chartType}]];

if(chartType == 'BAR'){
var dataText = [[${jsonData}]];
var key=[[${jsonTitleKey}]];
var value=[[${jsonValueKey}]];
var title=[[${jsonTitle}]];
var colorsText=[[${colors}]];

var data = JSON.parse(dataText);
var colors = JSON.parse(colorsText);
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10, "");

var tip = d3.tip()
.attr('class', 'd3-tip')
.offset([-10, 0])
.html(function(d) {
  return "<span>"+title+" </span><span>"+d[value]+"</span>";
})

var svg = d3.select("#svg-chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


svg.call(tip);

data.forEach(function(d) {
    d[key] = d[key];
    d[value] = +d[value];
});

// scale the range of the data
x.domain(data.map(function(d) { return d[key]; }));
y.domain([0, d3.max(data, function(d) { return d[value]; })]);



// add axis
svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis)
.selectAll("text")
  .style("text-anchor", "end")
  .attr("dx", "-.8em")
  .attr("dy", "-.55em")
  .attr("transform", "rotate(-90)" );

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis)
.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 5)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .text(title);


// Add bar chart
svg.selectAll("bar")
  .data(data)
	.enter().append("rect")
  .attr("class", "bar")
  .attr("x", function(d) { return x(d[key]); })
  .attr("width", x.rangeBand())
  .attr("y", function(d) { return y(d[value]); })
  .attr("height", function(d) { return height - y(d[value]); })
  .on('mouseover', tip.show)
  .on('mouseout', tip.hide);

}

if(chartType == 'GROUP_BAR'){
	console.log("GROUP_BAR");
	var dataText = [[${jsonData}]];
	var titleKey=[[${jsonTitleKey}]];
	
	console.log(titleKey);
	var colorsText=[[${colors}]];

	var data = JSON.parse(dataText);
	var colors = JSON.parse(colorsText);
	var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x0 = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var x1 = d3.scale.ordinal();

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.ordinal()
    .range(colors);

var xAxis = d3.svg.axis()
    .scale(x0)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("#svg-chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var ageNames = d3.keys(data[0]).filter(function(key) { return key !== titleKey; });

  data.forEach(function(d) {
    d.ages = ageNames.map(function(name) { return {name: name, value: +d[name]}; });
  });

  x0.domain(data.map(function(d) { return d[titleKey]; }));
  x1.domain(ageNames).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, d3.max(data, function(d) { return d3.max(d.ages, function(d) { return d.value; }); })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Population");

  var barGroup = svg.selectAll(".bar-group")
      .data(data)
    .enter().append("g")
      .attr("class", "bar-group")
      .attr("transform", function(d) { return "translate(" + x0(d[titleKey]) + ",0)"; });

  barGroup.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { return x1(d.name); })
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.selectAll(".legend")
      .data(ageNames.slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });


}
if(chartType == 'PIE'){
	console.log("PIE");
	
	var dataText = [[${jsonData}]];
	var key=[[${jsonTitleKey}]];
	var value=[[${jsonValueKey}]];

	var colorsText=[[${colors}]];

	var data = JSON.parse(dataText);
	var colors = JSON.parse(colorsText);
	
	var width = 960,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(colors);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d[value]; });

data.forEach(function(d) {
    d[key] = d[key];
    d[value] = +d[value];
});

var svg = d3.select("#svg-chart")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");



  var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data[key]); });

  g.append("text")
      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .text(function(d) { return d.data[key]; });


}
</script>
</body>
</html>