   <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/loader.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chart.css}" ></link>
<title>Chart</title>
</head>
<body>
<script th:inline="javascript" th:if="${chartType} == 'BAR' or ${chartType} == 'GROUP_BAR'" >
	var dataText = [[${jsonData}]];
	var jsonData = JSON.parse(dataText);
	google.charts.load('current', {'packages':['bar']});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
	  var data = google.visualization.arrayToDataTable(jsonData);
	  var chart = new google.charts.Bar(document.getElementById('chart-container'));
	  var options = {
	          chart: {
	            title: 'Biểu đồ',
	            subtitle: '',
	          }
	        };
	  chart.draw(data, options);
	}
</script>
<script th:inline="javascript" th:if="${chartType} == 'PIE'" >
	var dataText = [[${jsonData}]];
	var jsonData = JSON.parse(dataText);
	google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable(jsonData);

        var options = {
          title: 'Biểu đồ',
		  legend: { position: 'bottom' }
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart-container'));

        chart.draw(data, options);
      }
</script>
<script th:inline="javascript" th:if="${chartType} == 'LINE'" >
	var dataText = [[${jsonData}]];
	var jsonData = JSON.parse(dataText);
	google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable(jsonData);

      var options = {
        title: 'Biểu đồ',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart-container'));

      chart.draw(data, options);
    }
</script>
<script th:inline="javascript" th:if="${chartType} == 'AREA'" >
	var dataText = [[${jsonData}]];
	var jsonData = JSON.parse(dataText);
	google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
	var data = google.visualization.arrayToDataTable(jsonData);
	var options = {
		title: 'Biểu đồ',
		legend: {position : 'bottom'}
	};
	var chart = new google.visualization.AreaChart(document.getElementById('chart-container'));
	chart.draw(data, options);
    }
</script>
<script type="text/javascript">
	$(window).resize(function(){
		drawChart();
	});
</script>
<div id="chart-container" style="height: 500px;"></div>
</body>
</html>