   <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>Lỗi</title>
	<style type="text/css">
		body{
			background: #E9ECF3;
			font-family: sans-serif;
		}
		.error-wrap{
			text-align: center;
			margin-top: 100px;
		}
		.error-code{
			font-size: 100px;
			display: block;
			color: #2AB4C0;
		}
		.btn-go-home{
			display: block;
			margin-top: 20px;
			padding: 10px;
			text-decoration: none;
			color: #333;
		}
	</style>
	<script type="text/javascript">
		function GoToHomePage(){
		    window.location = '/';   
		}
	</script>
</head>
<body>
	<div class="error-wrap">
		<span class="error-code" th:text="${errorCode}">-_-</span>	
		<a href="#" class="btn-go-home" onclick="GoToHomePage()">Về trang chủ</a>
	</div>
	
</body>
</html>