<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Đăng nhập</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
        <meta name="google-signin-client_id" content="551102288950-82shbdiem8atb3siumnfahu1cs7iv5d8.apps.googleusercontent.com"/>
	    <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
	    <script src="/VAADIN/js/googleauth.js"></script>
    </head>
    <body style="background: #fff;">
    	<div class="logo">
    		<img alt="iWorkflow" src="/images/logo-viid.png"/>
    	</div>
	    <div class="login-page" style="background: url(/images/viid-login-bg.png);">
	    	<div class="login-page-content">
		    	<span class="login-title">ĐĂNG NHẬP</span>
		        <div th:if="${param.error != null and session['SPRING_SECURITY_LAST_EXCEPTION'] != null}" class="login-error">
		            <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
		        </div>
		        <div th:if="${param.logout}" class="logout-success">
		            <span>Đăng xuất thành công!</span>
		        </div>
		        <div class="login-form">
			        <form th:action="@{/login}" method="post" autocomplete="off">
			        	<input type="hidden" id="authProvider" name="authProvider"/>
			            <div class="input-group">
			            	<!-- <label for="un">Tên đăng nhập:</label> -->
			            	<input type="text" name="username" class="txt" id="username" placeholder="Tên đăng nhập" autocomplete="off"/>
			            </div>
			            <div class="input-group">
			            	<!-- <label for="pw">Mật khẩu:</label> -->
			            	<input type="password" name="password" class="txt" id="password" placeholder="Mật khẩu" autocomplete="off"/>
			            </div>
			            <div class="input-group btn-group">
			            	<input type="submit" value="Đăng nhập" class="btn-login" id="loginButton"/>
			            	<a class="forgot-pass" href="#">Quên mật khẩu?</a>
			            </div>
			        </form>
			     </div>
			     <div class="other-login-wrap">
			     </div>
		     </div>
		     <div class="create-acc-wrap" style="text-align: center;">
			     	<img alt="iWorkflow" src="/images/iWorkflow_Bottom.png" style="height: 30px; margin-top: 14px;"/>
		     </div>
        </div>
        <span class="copy-right-lbl">Copyright by Lac Long Quan Software Solution &copy; 2017</span>
    </body>
</html>