   <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <script type="text/javascript" th:src="@{/js/amcharts.js}"></script>
    <script type="text/javascript" th:src="@{/js/serial.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/process-report.css}" ></link>
<title>Chart</title>
</head>
<body>
<div id="chartdiv"></div>	
<script th:inline="javascript">
/*<![CDATA[*/
        var dataText = [[${jsonData}]];
		console.log(dataText);
		var chartData = JSON.parse(dataText);
/*]]>*/
</script>
<script type="text/javascript" >
/*<![CDATA[*/
var chart = AmCharts.makeChart( "chartdiv", {
  "type": "serial",
	"theme": "light",

  "dataProvider": chartData,

  "addClassNames": true,
  "startfinished": 1,
  "startDuration": 1,
  "marginLeft": 0,

  "categoryField": "date",
  "categoryAxis": {
    "autoGridCount": false,
    "gridCount": 50,
    "gridAlpha": 0.1,
    "gridColor": "#FFFFFF",
    "axisColor": "#555555"
  },

  "valueAxes": [ {
    "id": "a1",
    "title": "Quy trình",
    "gridAlpha": 0,
    "axisAlpha": 0
  }],
  "graphs": [ {
    "id": "g1",
    "valueField": "total",
    "title": "Khởi tạo ",
    "type": "column",
    "fillAlphas": 0.9,
    "balloonText": "[[value]]",
    "legendValueText": "[[value]]",
    "legendPeriodValueText": "[[value]] ",
    "lineColor": "#51BEDB",
    "alphaField": "alpha"
  }, {
    "id": "g2",
    "valueField": "inprocess",
    "classNameField": "bulletClass",
    "title": "Đang thực hiện",
    "type": "line",
    "lineColor": "#786c56",
    "lineThickness": 1,
    "legendValueText": "[[value]]",
    "descriptionField": "townName",
    "bullet": "round",
    "bulletSizeField": "townSize",
    "bulletBorderColor": "#786c56",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "bulletColor": "#89C4F4",
    "labelText": "[[townName2]]",
    "labelPosition": "right",
    "balloonText": "[[value]]",
    "showBalloon": true,
    "animationPlayed": true
  }, {
    "id": "g3",
    "title": "Hoàn thành",
    "valueField": "finished",
    "type": "line",
    "lineColor": "#ff5755",
    "balloonText": "[[value]]",
    "lineThickness": 1,
    "legendValueText": "[[value]]",
    "bullet": "round",
    "bulletBorderColor": "#ff5755",
    "bulletBorderThickness": 1,
    "bulletBorderAlpha": 1,
    "dashLengthField": "dashLength",
    "animationPlayed": true
  } ],

  "chartCursor": {
    "zoomable": false,
    "categoryBalloonDateFormat": "DD",
    "cursorAlpha": 0,
    "valueBalloonsEnabled": false
  },
  "legend": {
    "bulletType": "round",
    "equalWidths": false,
    "valueWidth": 120,
    "useGraphSettings": true
  }
} );
	/*]]>*/
</script>

</body>
</html>