<!DOCTYPE html>
<html>
<head>
<title>Hello WebSocket</title>

<link th:href="@{/css/chat-cl.css}" rel="stylesheet" />
<script th:src="@{/webjars/cryptojs/rollups/sha512.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/angularjs/angular.min.js}"></script>
<script th:src="@{/userapp.js}"></script>
<script th:src="@{/chat.js}"></script>

<style type="text/css">
	
</style>
</head>
<body>
	<noscript>
		<span style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</span>
	</noscript>
		<div ng-app="UserChat" ng-controller="chatCtrl" th:attr="ng-init='userId='+${userId}+';init();'" class="panel-body">
			<div class="chat-box-head">
			
			</div>
			<div class="container">
				<div class="conversation-wrap" ng-scroll-bottom="chatHistory[currentGroup.id]">
					<div class="mess-content-wrap"
						ng-repeat="mess in chatHistory[currentGroup.id]  | orderBy : 'id' track by $index"
						ng-class="{'mss-guest': mess.from === 'Guest','mss-ad': mess.from === 'Admin','mss-sv': mess.from === 'Server' }">
						<div class="mss-head">{{mess.from}}</div>
						<div class="mss-content">{{mess.message}}</div>
					</div>
				</div>
				<div class="chat-box-f">
					<form>
						<div class="chat-inp">
							<input type="text" ng-model="message" id="message" placeholder="Your message here..." />
						</div>
						<div class="chat-btn">
							<button id="send" ng-click="send()"
								ng-if=" connected ">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
</body>
</html>