<!DOCTYPE html>
<html ng-app="mainApp" class="no-js">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>iworkflow-blog</title>

<script src="/webjars/angularjs/1.5.8/angular.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-resource.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
<script src="/webjars/angular-sanitize/1.5.8/angular-sanitize.js"></script>
<script src="/webjars/angular-animate/1.5.8/angular-animate.js"></script>
<script src="/webjars/angular-aria/1.5.8/angular-aria.js"></script>
<script src="/webjars/angular-material/1.1.1/angular-material.js"></script>
<script src="/js/app.js"></script>
<script src="/js/header-controller.js"></script>
<script src="/js/article-detail-controller.js"></script>
<script src="/js/hot-article-controller.js"></script>
<script src="/js/top-comment-article-controller.js"></script>
<link rel="stylesheet"
	href="/css/angular-material.css"/>
<link rel="stylesheet" href="/css/font-icons.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"/>
</head>
<body class="stretched ng-scope">
	<div ng-controller="articleDetaiController" id="wrapper"
		class="clearfix" style="animation-duration: 1.5s; opacity: 1;">
		
		<div th:include="blog/header"></div>

		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">
						<div class="single-post nobottommargin">

							<!-- Begin Nội dung bài viết -->
							<div class="entry-title clearfix">
								<h2>{{article.title}}</h2>
							</div>
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i>{{article.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li>
								<li><a ng-click="gotoComments()" href=""><i class="icon-comments"></i>{{article.commentCountActive}} bình luận</a></li>
							</ul>
							<!-- .entry-meta end -->
							<div class="entry-publish-date clearfix"></div>
							<div id="entry-content-detail" class="entry-content-detail clearfix"
								ng-bind-html="article.content"></div>
							<div class="line"></div>
							<!-- End Nội dung bài viết -->

							<!-- Begin Bài viết khác -->
							<h4>Bài viết khác:</h4>
							<div class="related-posts clearfix">
								<div class="entry-c" ng-repeat="item in lstrelatearticle">
										<div class="entry-title">
											<a href="/blog/front/article_detail/{{item.id}}">{{item.title}}</a>
										</div>
										<ul class="entry-meta clearfix">
											<li><i class="icon-calendar3"></i>{{item.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li>
											<li><a href="#"><i class="icon-comments"></i> {{item.commentcount}}</a></li>
										</ul>

									</div>
							</div>
							<!-- End Bài viết khác -->
							<div id="comments" class="clearfix">
								<h3 id="comments-title">
									<span>{{article.commentCountActive}}</span> Bình luận <a id="comments"></a>
								</h3>

								<!-- Comments List============================================= -->
								<div class="clear"></div>
								<ol class="commentlist clearfix">

									<li ng-repeat="comment in lstcomment"	class="comment even thread-even depth-1" id="li-comment-1">
									
										<div id="comment-1" class="comment-wrap clearfix">

											<div class="comment-meta">

												<div class="comment-author vcard">

													<span class="comment-avatar clearfix"> <img alt=''
														src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
														class='avatar avatar-60 photo avatar-default' height='60'
														width='60' /></span>

												</div>

											</div>

											<div class="comment-content clearfix">

												<div class="comment-author">
													{{comment.name}}<span>{{comment.createdDate | date: 'dd/MM/yyyy :HH:mm'}}</span>
												</div>

												<p>{{comment.body}}</p>
												<a class='comment-reply-link' href='#'  ng-click="replyClick(comment.id)"><i class="icon-reply"></i></a>
												<!-- <div style="float:right;"><a href="#" ng-click="replyClick(comment.id)"><i>Trả lời</i></a></div> -->
												
												
											</div>

										</div>
										<ul class='children'>
											<li ng-repeat="reply in comment.replys" class="comment byuser comment-author-_smcl_admin odd alt depth-2"  >

												<div id="comment-3" class="comment-wrap clearfix">

													<div class="comment-meta">

														<div class="comment-author vcard">

															<span class="comment-avatar clearfix">
															<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

														</div>

													</div>

													<div class="comment-content clearfix">

														<div class="comment-author">{{reply.name}}<span>{{reply.createdDate | date: 'dd/MM/yyyy :HH:mm'}}</span></div>

														<p>{{reply.body}}</p>

														<a class='comment-reply-link' href='#'  ng-click="replyClick(comment.id)"><i class="icon-reply"></i></a>

													</div>

													<div class="clear"></div>

												</div>

											</li>

										</ul>
										<div style="margin:5px 0px;" id="reply{{comment.id}}"></div>
										
									</li>
								</ol>
								<!-- Comment Form
								============================================= -->
								<div id="respond" class="clearfix">

									<h3>Viết bình luận</h3>

									<form class="clearfix" ng-submit="postcomment(article)"
										id="commentform">

										<div class="col_one_third">
											<label for="author">Tên</label> <input type="text"
												ng-model="name"  required="true" name="author" id="author"
												value="" size="22" tabindex="1" class="sm-form-control" />
										</div>

										<div class="col_one_third">
											<label for="email">Email</label> <input type="email"
												ng-model="email" required="true" name="email" id="email" value=""
												size="22" tabindex="2" class="sm-form-control" />
										</div>


										<div class="clear"></div>

										<div class="col_full">
											<label for="comment">Nội dung bình luận</label>
											<textarea name="comment" cols="58" rows="7" tabindex="4" required="true"
												ng-model="commentcontent" class="sm-form-control"></textarea>
										</div>

										<div class="col_full nobottommargin">
											<button name="submit" type="submit" id="submit-button"
												tabindex="5" value="Submit"
												class="button button-3d nomargin">Gửi</button>
										</div>

									</form>

								</div>
								<!-- #respond end -->

							</div>
						</div>
					</div>
					<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">
							<div th:include="blog/front/hot_article"></div>
							<div th:include="blog/front/top_comment_article"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="footer">
			<div class="container">
				<div th:include="blog/footer"></div>
			</div>
		</div>
	</div>
	
</body>
</html>