<div ng-controller="homeListArticleController">
	<div class="entry clearfix" ng-repeat="article in lstArticle">
		<div class="entry-timeline">
			{{article.publishDate | date: 'd'}}<span>{{article.publishDate
				| date: 'MM'}}</span>
			<div class="timeline-divider"></div>
		</div>
		<div class="entry-title">
			<h2>
				<a href="/blog/front/article_detail/{{article.id}}">{{article.title}}</a>
			</h2>
		</div>
		<ul class="entry-meta clearfix">
			<li><i class="icon-calendar3"></i>{{article.publishDate | date:
				'dd/MM/yyyy :HH:mm'}}</li>
			<li><i
					class="icon-comments"></i> {{article.commentCountActive}} bình luận</li>
		</ul>
		<div class="entry-content">
			<!-- <div>{{article.subcontent}}</div> -->
			<div ng-bind-html="article.subcontent"></div>
			<a href="/blog/front/article_detail/{{article.id}}"
				class="more-link">Xem thêm</a>
		</div>
	</div>
	<ul ng-if="total" class="pagination">
         <li ng-class="{disabled:pager.currentPage === 1}">
             <a ng-click="setPage(1)">Đầu</a>
         </li>
         <li ng-class="{disabled:pager.currentPage === 1}">
             <a ng-click="setPage(pager.currentPage - 1)">Trước</a>
         </li>
         <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
             <a ng-click="setPage(page)">{{page}}</a>
         </li>                
         <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
             <a ng-click="setPage(pager.currentPage + 1)">Sau</a>
         </li>
         <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
             <a ng-click="setPage(pager.totalPages)">Cuối</a>
         </li>
     </ul>
</div>