
<div ng-controller="hostArticleController" class="widget clearfix">

	<h4>Xem nhiều nhất</h4>
	<ul class="entry clearfix">
		<li ng-repeat="item in lstHotArticle" >
			<div class="entry-title">	
						<a href="/blog/front/article_detail/{{item.id}}" >{{item.title}}</a>	
							
			</div>
		</li>
	</ul>

</div>