<!DOCTYPE html>
<html ng-app="mainApp" class="no-js">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="../../../static/js/jquery-2.2.4.min.js"></script>
<script src="../../../static/js/plugins.js"></script>
<script src="../../../static/js/functions.js"></script>
<script src="/webjars/angularjs/1.5.8/angular.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-resource.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
<script src="/webjars/angular-sanitize/1.5.8/angular-sanitize.js"></script>
<script src="/webjars/angular-animate/1.5.8/angular-animate.js"></script>
<script src="/webjars/angular-aria/1.5.8/angular-aria.js"></script>
<script src="/webjars/angularjs/1.5.8/angular-messages.js"></script>
<script src="/webjars/angular-material/1.1.1/angular-material.js"></script>
<script src="../../../static/js/lodash.min.js"></script>
<script src="../../../static/js/app.js"></script>
<script src="../../../static/js/search-controller.js"></script>
<script src="../../../static/js/header-controller.js"></script>

<link rel="stylesheet" href="../../../static/css/font-icons.css">
<link rel="stylesheet" href="../../../static/css/style.css">
<link rel="stylesheet" href="../../../static/css/animate.css">
<link rel="stylesheet" href="../../../static/css/responsive.css">
<link rel="stylesheet" href="../../../static/css/magnific-popup.css">
<link rel="stylesheet"
	href="../../../static/css/angular-material.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
<title>iworkflow-blog</title>
</head>
<body ng-controller="searchController" class="stretched" >
	<div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

		<div ng-include='"../header.html"'></div>

		<section id="content">

			<div class="content-wrap">
				
				<div class="container clearfix">
				<h2>Kết quả tìm kiếm</h2>
					<div class="entry-c" ng-repeat="item in lstArticle">
						<div class="entry-title">
							<a href="/blog/front/article_detail.html/#/{{item.id}}">{{item.title}}</a>
						</div>
						<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i>{{item.publishDate | date: 'dd/MM/yyyy :HH:mm'}}</li></li>
											<li><a href="#"><i class="icon-comments"></i> {{item.commentcount}}</a></li>
						</ul>

					</div>
					<ul ng-if="total" class="pagination">
				         <li ng-class="{disabled:pager.currentPage === 1}">
				             <a ng-click="setPage(1)">Đầu</a>
				         </li>
				         <li ng-class="{disabled:pager.currentPage === 1}">
				             <a ng-click="setPage(pager.currentPage - 1)">Trước</a>
				         </li>
				         <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
				             <a ng-click="setPage(page)">{{page}}</a>
				         </li>                
				         <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
				             <a ng-click="setPage(pager.currentPage + 1)">Sau</a>
				         </li>
				         <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
				             <a ng-click="setPage(pager.totalPages)">Cuối</a>
				         </li>
				     </ul>
				</div>
			</div>
		</section>
		<div class="footer">
			<div class="container">
				<div ng-include='"../footer.html"'></div>
			</div>
		</div>
	</div>



</body>
</html>