<div ng-controller="topCommentArticleController" class="widget clearfix">

	<h4>Bình luận nhiều nhất</h4>
	<ul class="entry clearfix">
		<li ng-repeat="item in lstHotArticle" >
			<div class="entry-title">	
					<a href="/blog/front/article_detail/{{item.id}}" >{{item.title}}</a>
					<div style="color:#999"><i class="icon-comments"></i><i> {{item.commentCountActive}} bình luận</i></div>				
			</div>
		</li>
	</ul>

</div>